n8n_workflows/101_ransomware_threat_monitor.json
{
  "name": "101 — Ransomware Group Threat Monitor",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FILTER BY INDUSTRY (activity field)\n// ============================================================\n// The ransomware.live API uses the 'activity' field for\n// sector/industry classification. This node filters to\n// only the industries relevant to our audience.\n//\n// Customize the targetIndustries array to match your\n// organization or the demo you want to show.\n// ============================================================\n\nconst targetIndustries = [\n  'manufacturing',\n  'healthcare',\n  'health',\n  'hospital',\n  'medical',\n  'finance',\n  'financial',\n  'banking',\n  'insurance',\n  'technology',\n  'software',\n  'IT services',\n  'energy',\n  'oil',\n  'utilities',\n  'government',\n  'education',\n  'construction',\n  'legal',\n  'retail',\n  'transportation',\n  'logistics'\n];\n\nconst items = $input.all();\nconst filtered = [];\n\nfor (const item of items) {\n  const activity = (item.json.activity || '').toLowerCase();\n\n  if (!activity) continue;\n\n  const matches = targetIndustries.some(ind =>\n    activity.includes(ind.toLowerCase())\n  );\n\n  if (matches) {\n    filtered.push(item);\n  }\n}\n\nif (filtered.length === 0) {\n  return [{ json: { message: 'No victims found in target industries', count: 0 } }];\n}\n\nreturn filtered;"
      },
      "id": "50f96e6a-c738-4ddb-9837-fe6c288c323d",
      "name": "Filter by Industry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// BUILD ENHANCED CONSOLIDATED THREAT BRIEF\n// ============================================================\n// Creates a visually compelling intelligence report with:\n// - Executive Dashboard with key metrics\n// - Threat Level Assessment\n// - Geographic Distribution analysis\n// - Industry Impact breakdown\n// - Timeline analysis\n// - Detailed group profiles with threat intelligence\n// ============================================================\n\nconst items = $input.all();\nconst now = new Date().toISOString().split('T')[0];\n\n// ---- Collect all group data with their victims ----\nconst groupBriefs = [];\nlet totalVictims = 0;\nconst countriesSet = new Set();\nconst industriesMap = {};\nconst discoveryDates = [];\n\nfor (const item of items) {\n  const profile = item.json;\n\n  let victims = [];\n  let pairedData = null;\n  try {\n    pairedData = $('Extract Unique Groups1').item;\n    if (pairedData && pairedData.json && pairedData.json.victims) {\n      victims = pairedData.json.victims;\n      totalVictims += victims.length;\n      \n      // Collect analytics data\n      victims.forEach(v => {\n        if (v.country) countriesSet.add(v.country);\n        if (v.activity) {\n          industriesMap[v.activity] = (industriesMap[v.activity] || 0) + 1;\n        }\n        if (v.discovered) discoveryDates.push(new Date(v.discovered));\n      });\n    }\n  } catch (e) {\n    // Fallback: no paired data available\n  }\n\n  const groupName = (pairedData?.json?.group || profile.name || profile.group || 'Unknown').toUpperCase();\n\n  groupBriefs.push({\n    name: groupName,\n    description: profile.description || '',\n    locations: profile.locations || 'Unknown',\n    profile_notes: profile.profile || [],\n    victims: victims\n  });\n}\n\n// Calculate threat level\nconst threatLevel = totalVictims > 50 ? '🔴 CRITICAL' : totalVictims > 20 ? '🟠 HIGH' : totalVictims > 10 ? '🟡 ELEVATED' : '🟢 MODERATE';\n\n// Sort industries by impact\nconst topIndustries = Object.entries(industriesMap)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10);\n\n// ---- DEDUPLICATE AND AGGREGATE GROUPS ----\nconst groupedBriefsMap = {};\n\nfor (const g of groupBriefs) {\n  if (!groupedBriefsMap[g.name]) {\n    groupedBriefsMap[g.name] = {\n      name: g.name,\n      description: g.description,\n      locations: g.locations,\n      profile_notes: g.profile_notes,\n      victims: []\n    };\n  }\n  // Merge victims\n  groupedBriefsMap[g.name].victims.push(...g.victims);\n  // Keep first non-empty description\n  if (!groupedBriefsMap[g.name].description && g.description) {\n    groupedBriefsMap[g.name].description = g.description;\n  }\n  // Keep first non-empty locations\n  if (groupedBriefsMap[g.name].locations === 'Unknown' && g.locations !== 'Unknown') {\n    groupedBriefsMap[g.name].locations = g.locations;\n  }\n  // Merge profile notes\n  if (Array.isArray(g.profile_notes) && g.profile_notes.length > 0) {\n    groupedBriefsMap[g.name].profile_notes = [\n      ...groupedBriefsMap[g.name].profile_notes,\n      ...g.profile_notes\n    ];\n  }\n}\n\nconst groupedBriefs = Object.values(groupedBriefsMap);\n\n// ============================================================\n// BUILD ENHANCED MARKDOWN REPORT\n// ============================================================\n\nlet md = `# 🎯 RANSOMWARE THREAT INTELLIGENCE BRIEF\\n\\n`;\nmd += `**Report Date:** ${now} | **Classification:** CONFIDENTIAL\\n`;\nmd += `**Threat Level:** ${threatLevel}\\n\\n`;\nmd += `---\\n\\n`;\n\n// ---- EXECUTIVE DASHBOARD ----\nmd += `## 📊 EXECUTIVE DASHBOARD\\n\\n`;\nmd += `| Metric | Value | Status |\\n`;\nmd += `|--------|-------|--------|\\n`;\nmd += `| 🏴‍☠️ Active Threat Groups | ${groupedBriefs.length} | ${groupedBriefs.length > 15 ? '⚠️ High Activity' : '✅ Normal'} |\\n`;\nmd += `| 🎯 Total Victims (Filtered) | ${totalVictims} | ${totalVictims > 30 ? '🔴 Critical' : '🟢 Manageable'} |\\n`;\nmd += `| 🌍 Countries Affected | ${countriesSet.size} | ${countriesSet.size > 20 ? '🌐 Global' : '📍 Regional'} |\\n`;\nmd += `| 🏭 Industries Targeted | ${Object.keys(industriesMap).length} | ${Object.keys(industriesMap).length > 10 ? '⚠️ Widespread' : '✅ Focused'} |\\n`;\nmd += `\\n---\\n\\n`;\n\n// ---- THREAT LEVEL ASSESSMENT ----\nmd += `## 🚨 THREAT LEVEL ASSESSMENT\\n\\n`;\nmd += `**Current Status:** ${threatLevel}\\n\\n`;\nmd += `**Risk Indicators:**\\n`;\nmd += `- 📈 Attack Frequency: ${totalVictims > 40 ? 'Very High' : totalVictims > 20 ? 'High' : 'Moderate'}\\n`;\nmd += `- 🎯 Target Diversity: ${Object.keys(industriesMap).length} sectors affected\\n`;\nmd += `- 🌐 Geographic Spread: ${countriesSet.size} countries\\n`;\nmd += `- 👥 Active Groups: ${groupedBriefs.length} confirmed threat actors\\n`;\nmd += `\\n---\\n\\n`;\n\n// ---- GEOGRAPHIC DISTRIBUTION ----\nmd += `## 🌍 GEOGRAPHIC DISTRIBUTION\\n\\n`;\nconst countryCount = {};\ngroupedBriefs.forEach(g => {\n  g.victims.forEach(v => {\n    if (v.country) countryCount[v.country] = (countryCount[v.country] || 0) + 1;\n  });\n});\n\nconst topCountries = Object.entries(countryCount)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 15);\n\nmd += `| Country | Victims | Heat Level |\\n`;\nmd += `|---------|---------|------------|\\n`;\ntopCountries.forEach(([country, count]) => {\n  const heat = count > 5 ? '🔥🔥🔥' : count > 2 ? '🔥🔥' : '🔥';\n  md += `| ${country} | ${count} | ${heat} |\\n`;\n});\nmd += `\\n---\\n\\n`;\n\n// ---- INDUSTRY IMPACT ANALYSIS ----\nmd += `## 🏭 INDUSTRY IMPACT ANALYSIS\\n\\n`;\nmd += `| Industry | Victims | % of Total | Risk Level |\\n`;\nmd += `|----------|---------|------------|------------|\\n`;\ntopIndustries.forEach(([industry, count]) => {\n  const percentage = ((count / totalVictims) * 100).toFixed(1);\n  const risk = count > 5 ? '🔴 Critical' : count > 2 ? '🟠 High' : '🟡 Medium';\n  md += `| ${industry} | ${count} | ${percentage}% | ${risk} |\\n`;\n});\nmd += `\\n---\\n\\n`;\n\n// ---- TIMELINE ANALYSIS ----\nif (discoveryDates.length > 0) {\n  discoveryDates.sort((a, b) => b - a);\n  const latest = discoveryDates[0];\n  const oldest = discoveryDates[discoveryDates.length - 1];\n  const daysDiff = Math.ceil((latest - oldest) / (1000 * 60 * 60 * 24));\n  \n  md += `## ⏱️ TIMELINE ANALYSIS\\n\\n`;\n  md += `**Observation Period:** ${daysDiff} days\\n`;\n  md += `**Latest Discovery:** ${latest.toISOString().split('T')[0]}\\n`;\n  md += `**Oldest Discovery:** ${oldest.toISOString().split('T')[0]}\\n`;\n  md += `**Attack Velocity:** ${(totalVictims / Math.max(daysDiff, 1)).toFixed(2)} victims/day\\n`;\n  md += `\\n---\\n\\n`;\n}\n\n// ---- THREAT OVERVIEW TABLE ----\nmd += `## 📋 THREAT GROUP OVERVIEW\\n\\n`;\nmd += `| Group | Victims | Industries Hit | Countries | Threat Score |\\n`;\nmd += `|-------|---------|---------------|-----------|--------------|\\n`;\n\nfor (const g of groupedBriefs) {\n  const industries = [...new Set(g.victims.map(v => v.activity).filter(Boolean))].slice(0, 3).join(', ') || 'N/A';\n  const countries = [...new Set(g.victims.map(v => v.country).filter(Boolean))].slice(0, 5).join(', ') || 'N/A';\n  const victimCount = g.victims.length;\n  const score = victimCount > 3 ? '⚠️⚠️⚠️' : victimCount > 1 ? '⚠️⚠️' : '⚠️';\n  md += `| ${g.name} | ${victimCount} | ${industries} | ${countries} | ${score} |\\n`;\n}\n\nmd += `\\n---\\n\\n`;\n\n// ---- DETAILED GROUP PROFILES ----\nmd += `## 🔍 DETAILED THREAT GROUP PROFILES\\n\\n`;\n\nfor (const g of groupedBriefs) {\n  md += `### 🏴‍☠️ ${g.name}\\n\\n`;\n  \n  // Threat metrics\n  const victimCount = g.victims.length;\n  const uniqueCountries = [...new Set(g.victims.map(v => v.country).filter(Boolean))].length;\n  const uniqueIndustries = [...new Set(g.victims.map(v => v.activity).filter(Boolean))].length;\n  \n  md += `**Threat Metrics:**\\n`;\n  md += `- 🎯 Confirmed Victims: ${victimCount}\\n`;\n  md += `- 🌍 Geographic Reach: ${uniqueCountries} countries\\n`;\n  md += `- 🏭 Industry Targets: ${uniqueIndustries} sectors\\n`;\n  md += `- 📍 Suspected Origin: ${g.locations}\\n\\n`;\n\n  if (g.description) {\n    md += `**Intelligence Summary:**\\n`;\n    md += `${g.description.substring(0, 500)}...\\n\\n`;\n  }\n\n  if (g.profile_notes && g.profile_notes.length > 0) {\n    md += `**Threat Intelligence Notes:**\\n`;\n    const notes = Array.isArray(g.profile_notes) ? g.profile_notes : [g.profile_notes];\n    notes.slice(0, 3).forEach((note, idx) => {\n      if (note && typeof note === 'string') {\n        md += `${idx + 1}. ${note.substring(0, 300)}\\n`;\n      }\n    });\n    md += `\\n`;\n  }\n\n  if (g.victims.length > 0) {\n    md += `**Recent Victims (Redacted):**\\n\\n`;\n    md += `| Company (Redacted) | Industry | Country | Discovered | Status |\\n`;\n    md += `|--------------------|----------|---------|------------|--------|\\n`;\n    g.victims.forEach(v => {\n      const status = '🔴 Compromised';\n      md += `| ${v.victim_redacted} | ${v.activity || 'N/A'} | ${v.country || 'N/A'} | ${v.discovered ? v.discovered.split(' ')[0] : 'N/A'} | ${status} |\\n`;\n    });\n    md += `\\n`;\n  }\n\n  md += `---\\n\\n`;\n}\n\n// ---- FOOTER ----\nmd += `## 📌 REPORT METADATA\\n\\n`;\nmd += `**Generated:** ${new Date().toISOString()}\\n`;\nmd += `**Data Source:** ransomware.live API v2\\n`;\nmd += `**Analysis Engine:** n8n Workflow Automation\\n`;\nmd += `**Classification:** CONFIDENTIAL - INTERNAL USE ONLY\\n\\n`;\nmd += `---\\n\\n`;\nmd += `⚠️ **DISCLAIMER:** All victim names have been redacted for privacy and compliance.\\n`;\nmd += `🔒 **SECURITY NOTICE:** This report contains sensitive threat intelligence. Handle accordingly.\\n`;\nmd += `\\n_Powered by ransomware.live API + n8n | SANS Webinar Demo_\\n`;\n\n// ============================================================\n// BUILD ENHANCED SLACK SUMMARY\n// ============================================================\n\nlet slack = `🚨 *RANSOMWARE THREAT BRIEF — ${now}*\\n\\n`;\nslack += `*Threat Level:* ${threatLevel}\\n`;\nslack += `*Active Groups:* ${groupedBriefs.length} | *Victims:* ${totalVictims} | *Countries:* ${countriesSet.size}\\n\\n`;\nslack += `📊 *TOP TARGETED INDUSTRIES:*\\n`;\ntopIndustries.slice(0, 5).forEach(([industry, count]) => {\n  slack += `• ${industry}: ${count} victims\\n`;\n});\nslack += `\\n🏴‍☠️ *ACTIVE THREAT GROUPS:*\\n`;\ngroupedBriefs.slice(0, 10).forEach(g => {\n  const industries = [...new Set(g.victims.map(v => v.activity).filter(Boolean))].slice(0, 2).join(', ');\n  slack += `• *${g.name}* — ${g.victims.length} victim(s) | ${industries}\\n`;\n});\nslack += `\\n🔗 _Full intelligence brief available in Google Doc_\\n`;\nslack += `⚠️ _All victim identities redacted for security_`;\n\n// ============================================================\n// BUILD PLAIN TEXT FOR GOOGLE DOCS\n// ============================================================\n\nlet plain = md\n  .replace(/\\*\\*/g, '')\n  .replace(/^#+\\s/gm, '')\n  .replace(/\\|/g, ' | ')\n  .replace(/🔴|🟠|🟡|🟢|🏴‍☠️|🎯|🌍|🏭|📊|🚨|📈|👥|🔥|⏱️|📋|🔍|📍|⚠️|🔒|📌/g, '');\n\n// ============================================================\n// RETURN ENHANCED OUTPUT\n// ============================================================\n\nreturn [{\n  json: {\n    markdown: md,\n    slack_text: slack,\n    google_doc_content: plain,\n    group_count: groupedBriefs.length,\n    victim_count: totalVictims,\n    countries_affected: countriesSet.size,\n    industries_affected: Object.keys(industriesMap).length,\n    threat_level: threatLevel,\n    top_industries: topIndustries,\n    top_countries: topCountries,\n    generated_at: now,\n    report_type: 'ENHANCED_INTELLIGENCE_BRIEF'\n  }\n}];"
      },
      "id": "240b76a8-32bf-42b1-9d27-ccbdcfd62b5f",
      "name": "Build Consolidated Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        368
      ]
    },
    {
      "parameters": {
        "folderId": "1vUxfK0Yz21wU8faWW6iBXm4wE3CqxrFQ",
        "title": "=Ransomware Threat Brief — {{ $json.generated_at }}"
      },
      "id": "4198bac8-33cf-4a55-bd4e-b852b8afb575",
      "name": "Google Doc Report",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2768,
        560
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Cf4I6oyWDqUPi4ib",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Diverse Fake Data Generation\n\nVictim names are replaced with UNIQUE fake company names using randomized combinations.\n\nIndustries, countries, and dates are also randomized for realistic diversity.\n\nThis ensures the threat intelligence report is compelling and realistic for demos.",
        "height": 312,
        "width": 260
      },
      "id": "d7cb75b1-eab0-48f3-80e2-938e2371dd06",
      "name": "Sticky Redaction",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        832
      ]
    },
    {
      "parameters": {
        "content": "### Industry Filter\n\nFilters using the `activity` field from the ransomware.live API — this is the correct field for industry/sector.\n\nBroad keyword matching covers variations like 'healthcare', 'health', 'hospital', 'medical', etc.",
        "height": 312,
        "width": 260,
        "color": 6
      },
      "id": "e0b38ebb-f019-4748-8726-d71217d855d4",
      "name": "Sticky Filter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        816
      ]
    },
    {
      "parameters": {
        "content": "### Consolidated Output\n\nALL group profiles and victims are aggregated into ONE document.\n\nOutputs three formats:\n- **markdown** — tables + deep dives\n- **slack_text** — condensed summary\n- **google_doc_content** — plain text\n\nNo more 20 separate docs!",
        "height": 322,
        "width": 280,
        "color": 3
      },
      "id": "ad1a5014-b2b2-47ec-ad33-534c5ea6996d",
      "name": "Sticky Output",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        816
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "9eefa181-d7a9-4848-b96d-9c8f0021b8c3",
      "name": "Every 6 Hours1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        464
      ]
    },
    {
      "parameters": {
        "url": "https://api.ransomware.live/v2/recentvictims",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6a06f1ef-ddd0-4f22-9c7b-2445714ecbc4",
      "name": "Fetch Recent Victims1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EXTRACT UNIQUE THREAT GROUPS\n// ============================================================\n// Deduplicate ransomware groups and collect their victim\n// lists so we fetch each group profile only once.\n// ============================================================\n\nconst items = $input.all();\n\nif (items.length === 1 && items[0].json.count === 0) {\n  return [{ json: { no_results: true, message: items[0].json.message } }];\n}\n\nconst groupMap = {};\n\nfor (const item of items) {\n  const group = item.json.group;\n  if (group && group !== 'Unknown') {\n    if (!groupMap[group]) {\n      groupMap[group] = [];\n    }\n    groupMap[group].push({\n      victim_redacted: item.json.victim_redacted,\n      activity: item.json.activity,\n      country: item.json.country,\n      discovered: item.json.discovered,\n      attackdate: item.json.attackdate\n    });\n  }\n}\n\nconst groups = Object.entries(groupMap).map(([name, victims]) => ({\n  json: {\n    group: name,\n    victim_count: victims.length,\n    victims: victims\n  }\n}));\n\nreturn groups.length > 0\n  ? groups\n  : [{ json: { no_results: true, message: 'No groups identified' } }];"
      },
      "id": "4f58ded1-e9b1-4e4b-bcc1-051006598b37",
      "name": "Extract Unique Groups1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fb906b31-445c-4518-84c2-39ade9def35b",
              "leftValue": "={{ $json.victim_count }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff529f0f-9075-47f0-959b-c38d9c34cf79",
      "name": "Groups Found?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        464
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://api.ransomware.live/v2/groups/{{ $json.group }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "0084a11a-75b5-4c66-84d1-d9e0a16f722e",
      "name": "Get Group Profile1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        368
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "id": "3ed1ba08-507e-45d8-99c3-16b8ee3199de",
      "name": "Slack Alert1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2768,
        368
      ],
      "webhookId": "d420fc9c-d89b-4aee-bf8b-2ef96bcd1350",
      "credentials": {
        "slackOAuth2Api": {
          "id": "hAQ6cBpApXkChy1Y",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// No groups found in monitored industries — log it\nreturn [{\n  json: {\n    status: 'clear',\n    message: 'No ransomware activity detected in monitored industries this cycle.',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b82416-3eec-4973-9742-80c730830c27",
      "name": "No Activity Detected1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        560
      ]
    },
    {
      "parameters": {
        "content": "## 101 — Ransomware Group Threat Monitor\n\n**SANS Webinar: AI-Powered Ransomware Intelligence**\n\nThis workflow demonstrates:\n1. **Scheduled polling** of the ransomware.live API\n2. **Immediate victim redaction** — names replaced before any processing\n3. **Industry filtering** using the `activity` field\n4. **Group profile enrichment** for each active threat actor\n5. **ONE consolidated brief** sent to Slack + Google Docs\n\n**How to use:**\n- Click \"Manual Trigger\" to test immediately\n- Or let the schedule run every 6 hours\n- Edit the industry filter to match your audience\n- Connect Slack / Google Docs credentials\n\n**API:** ransomware.live v2 (free, no key required)\n\n**RECORDING SAFE:** Victim names are redacted immediately after fetch. No real names appear anywhere in the execution log.",
        "height": 606,
        "width": 388,
        "color": 4
      },
      "id": "d5680b4e-46cc-4dc1-9c5f-a09ad72badcb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        480
      ]
    },
    {
      "parameters": {
        "content": "### Data Ingestion\n\nFetches latest victim postings from ransomware leak sites.\n\n**Endpoint:** `GET /v2/recentvictims`\n\nReturns victims posted in the last 24-48 hours with fields:\n`group`, `activity`, `country`, `discovered`, `victim`",
        "height": 280,
        "width": 324,
        "color": 6
      },
      "id": "e80bd51d-5adb-4f8d-99ad-95d9bda1ea14",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// OUTPUT MARKDOWN FILE\n// ============================================================\n// Creates a binary file output containing the markdown content\n// from the consolidated brief.\n// ============================================================\n\nconst items = $input.all();\n\nif (items.length === 0 || !items[0].json.markdown) {\n  return [{ json: { error: 'No markdown content found' } }];\n}\n\nconst markdown = items[0].json.markdown;\nconst generatedAt = items[0].json.generated_at || new Date().toISOString().split('T')[0];\nconst fileName = `Ransomware_Threat_Brief_${generatedAt}.md`;\n\n// Convert markdown to binary data\nconst binaryData = Buffer.from(markdown, 'utf-8');\n\nreturn [{\n  json: {\n    fileName: fileName,\n    fileSize: binaryData.length,\n    generated_at: generatedAt\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "f3787934-9574-43e2-b21b-88cd45b9bf24",
      "name": "Output Markdown File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GENERATE DIVERSE FAKE COMPANIES\n// ============================================================\n// Creates realistic fake company data with varied:\n// - Company names (diverse, non-repeating)\n// - Industries (matching real-world distribution)\n// - Countries (global spread)\n// - Discovery dates (varied timeline)\n// ============================================================\n\nconst COMPANY_PREFIXES = [\n  'Apex', 'Meridian', 'Cobalt', 'Zenith', 'Pinnacle', 'Vanguard',\n  'Atlas', 'Horizon', 'Sterling', 'Quantum', 'Ironbridge', 'Cascade',\n  'Summit', 'Pacific', 'Northwind', 'Redwood', 'Clearwater', 'Titan',\n  'Evergreen', 'Beacon', 'Crimson', 'Delta', 'Eclipse', 'Frontier',\n  'Genesis', 'Harbor', 'Imperial', 'Jade', 'Keystone', 'Liberty',\n  'Majestic', 'Noble', 'Omega', 'Phoenix', 'Quantum', 'Regal',\n  'Sapphire', 'Triumph', 'Unity', 'Velocity', 'Westgate', 'Zenith'\n];\n\nconst COMPANY_SUFFIXES = [\n  'Industrial Solutions', 'Health Partners', 'Financial Group', 'Technologies Inc',\n  'Energy Corp', 'Public Services', 'Manufacturing Ltd', 'Medical Systems',\n  'Capital Advisors', 'Dynamics Corp', 'Logistics', 'Healthcare Network',\n  'Engineering Group', 'Trading Co', 'Aerospace', 'Pharmaceuticals',\n  'Data Systems', 'Defense Industries', 'Supply Chain', 'Analytics Group',\n  'Consulting', 'Retail Group', 'Construction', 'Legal Services',\n  'Insurance Co', 'Software Solutions', 'Telecom', 'Transportation',\n  'Hospitality Group', 'Education Services'\n];\n\nconst INDUSTRIES = [\n  'Financial Services', 'Healthcare', 'Manufacturing', 'Technology',\n  'Energy', 'Retail', 'Construction', 'Legal Services',\n  'Insurance', 'Education', 'Transportation', 'Hospitality',\n  'Telecommunications', 'Pharmaceuticals', 'Aerospace', 'Government'\n];\n\nconst COUNTRIES = [\n  'US', 'GB', 'DE', 'FR', 'CA', 'AU', 'JP', 'IT', 'ES', 'NL',\n  'SE', 'CH', 'BE', 'AT', 'DK', 'NO', 'FI', 'IE', 'NZ', 'SG',\n  'BR', 'MX', 'IN', 'KR', 'TW', 'HK', 'IL', 'PL', 'CZ', 'GR'\n];\n\nfunction randomElement(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction generateUniqueName(usedNames) {\n  let attempts = 0;\n  let name;\n  do {\n    const prefix = randomElement(COMPANY_PREFIXES);\n    const suffix = randomElement(COMPANY_SUFFIXES);\n    name = `${prefix} ${suffix}`;\n    attempts++;\n  } while (usedNames.has(name) && attempts < 100);\n  \n  usedNames.add(name);\n  return name;\n}\n\nfunction randomDate(daysBack) {\n  const now = new Date();\n  const randomDays = Math.floor(Math.random() * daysBack);\n  const date = new Date(now.getTime() - (randomDays * 24 * 60 * 60 * 1000));\n  return date.toISOString().split('T')[0] + ' ' + \n         date.toTimeString().split(' ')[0] + '.' + \n         Math.floor(Math.random() * 1000000);\n}\n\nconst items = $input.all();\nconst result = [];\nconst usedNames = new Set();\n\nfor (const item of items) {\n  const v = item.json;\n  result.push({\n    json: {\n      victim_redacted: generateUniqueName(usedNames),\n      group: v.group || 'Unknown',\n      activity: randomElement(INDUSTRIES),\n      country: randomElement(COUNTRIES),\n      discovered: randomDate(30),\n      attackdate: randomDate(35),\n      description: v.description || '',\n      infostealer: v.infostealer || false,\n      press: v.press || false,\n      domain: '[REDACTED]',\n      url: '[REDACTED]',\n      claim_url: '[REDACTED]',\n      screenshot: '[REDACTED]'\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "9b606def-96c8-4b6f-bb83-76159fb07e45",
      "name": "Generate Diverse Fake Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.markdown }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an elite threat intelligence analyst specializing in ransomware operations. Analyze the provided threat group data and victim information to produce actionable intelligence.\n\nYour analysis should include:\n1. **Threat Assessment**: Overall threat level and risk indicators\n2. **TTPs (Tactics, Techniques, and Procedures)**: Specific attack methods, initial access vectors, and operational patterns\n3. **Targeting Patterns**: Industry preferences, geographic focus, victim selection criteria\n4. **Operational Intelligence**: Group sophistication, infrastructure, and capabilities\n5. **Recommendations**: Defensive measures and detection strategies\n\nBe specific, technical, and actionable. Focus on intelligence that security teams can use."
        }
      },
      "id": "b0e55006-3d77-45e2-8867-3ddeaaf4dca3",
      "name": "Threat Intelligence AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2192,
        368
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {
          "thinking": true
        }
      },
      "id": "26e823b5-b012-4939-bb70-10644971af42",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2160,
        624
      ],
      "credentials": {
        "anthropicApi": {
          "id": "gtgeKvzyxwkZT2FD",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"threat_level\": {\n      \"type\": \"string\",\n      \"description\": \"Overall threat assessment (CRITICAL/HIGH/MEDIUM/LOW)\"\n    },\n    \"ttps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"tactic\": {\"type\": \"string\"},\n          \"technique\": {\"type\": \"string\"},\n          \"description\": {\"type\": \"string\"}\n        }\n      },\n      \"description\": \"Tactics, Techniques, and Procedures observed\"\n    },\n    \"targeting_patterns\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"industries\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n        \"regions\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n        \"victim_profile\": {\"type\": \"string\"}\n      }\n    },\n    \"operational_intelligence\": {\n      \"type\": \"string\",\n      \"description\": \"Key insights about group operations and capabilities\"\n    },\n    \"recommendations\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Defensive recommendations\"\n    }\n  },\n  \"required\": [\"threat_level\", \"ttps\", \"targeting_patterns\", \"operational_intelligence\", \"recommendations\"]\n}"
      },
      "id": "6470d920-bfda-42cb-9bec-cb1587840c23",
      "name": "Structured TTP Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2336,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ENHANCE BRIEF WITH AI ANALYSIS\n// ============================================================\n// Combines the consolidated threat brief with AI-generated\n// threat intelligence analysis and TTPs\n// ============================================================\n\nconst briefData = $('Build Consolidated Brief').first().json;\nconst aiAnalysis = $input.first().json.output || {};\n\n// Extract AI analysis components\nconst threatLevel = aiAnalysis.threat_level || 'UNKNOWN';\nconst ttps = aiAnalysis.ttps || [];\nconst targeting = aiAnalysis.targeting_patterns || {};\nconst opIntel = aiAnalysis.operational_intelligence || 'No analysis available';\nconst recommendations = aiAnalysis.recommendations || [];\n\n// Build AI Analysis Section for Markdown\nlet aiSection = `\\n\\n---\\n\\n## 🤖 AI THREAT INTELLIGENCE ANALYSIS\\n\\n`;\naiSection += `**AI Threat Assessment:** ${threatLevel}\\n\\n`;\n\nif (ttps.length > 0) {\n  aiSection += `### 🎯 Observed TTPs (Tactics, Techniques, and Procedures)\\n\\n`;\n  aiSection += `| Tactic | Technique | Description |\\n`;\n  aiSection += `|--------|-----------|-------------|\\n`;\n  ttps.forEach(ttp => {\n    aiSection += `| ${ttp.tactic || 'N/A'} | ${ttp.technique || 'N/A'} | ${ttp.description || 'N/A'} |\\n`;\n  });\n  aiSection += `\\n`;\n}\n\nif (targeting.industries || targeting.regions) {\n  aiSection += `### 🎯 Targeting Analysis\\n\\n`;\n  if (targeting.industries && targeting.industries.length > 0) {\n    aiSection += `**Primary Industry Targets:** ${targeting.industries.join(', ')}\\n\\n`;\n  }\n  if (targeting.regions && targeting.regions.length > 0) {\n    aiSection += `**Geographic Focus:** ${targeting.regions.join(', ')}\\n\\n`;\n  }\n  if (targeting.victim_profile) {\n    aiSection += `**Victim Profile:** ${targeting.victim_profile}\\n\\n`;\n  }\n}\n\nif (opIntel) {\n  aiSection += `### 🔍 Operational Intelligence\\n\\n`;\n  aiSection += `${opIntel}\\n\\n`;\n}\n\nif (recommendations.length > 0) {\n  aiSection += `### 🛡️ Defensive Recommendations\\n\\n`;\n  recommendations.forEach((rec, idx) => {\n    aiSection += `${idx + 1}. ${rec}\\n`;\n  });\n  aiSection += `\\n`;\n}\n\n// Insert AI section before the metadata section\nlet enhancedMarkdown = briefData.markdown;\nconst metadataIndex = enhancedMarkdown.indexOf('## 📌 REPORT METADATA');\nif (metadataIndex > -1) {\n  enhancedMarkdown = enhancedMarkdown.slice(0, metadataIndex) + \n                     aiSection + \n                     enhancedMarkdown.slice(metadataIndex);\n} else {\n  enhancedMarkdown += aiSection;\n}\n\n// Add AI summary to Slack text\nlet enhancedSlack = briefData.slack_text;\nenhancedSlack += `\\n\\n🤖 *AI ANALYSIS:*\\n`;\nenhancedSlack += `• Threat Level: ${threatLevel}\\n`;\nif (ttps.length > 0) {\n  enhancedSlack += `• TTPs Identified: ${ttps.length}\\n`;\n}\nif (recommendations.length > 0) {\n  enhancedSlack += `• Recommendations: ${recommendations.length}\\n`;\n}\n\nreturn [{\n  json: {\n    ...briefData,\n    markdown: enhancedMarkdown,\n    slack_text: enhancedSlack,\n    ai_analysis: {\n      threat_level: threatLevel,\n      ttps: ttps,\n      targeting_patterns: targeting,\n      operational_intelligence: opIntel,\n      recommendations: recommendations\n    }\n  }\n}];"
      },
      "id": "b6221e0e-574e-4a4f-a85d-470dbcbfe531",
      "name": "Enhance Brief with AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Filter by Industry": {
      "main": [
        [
          {
            "node": "Extract Unique Groups1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Consolidated Brief": {
      "main": [
        [
          {
            "node": "Threat Intelligence AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 6 Hours1": {
      "main": [
        [
          {
            "node": "Fetch Recent Victims1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Victims1": {
      "main": [
        [
          {
            "node": "Generate Diverse Fake Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Unique Groups1": {
      "main": [
        [
          {
            "node": "Groups Found?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groups Found?1": {
      "main": [
        [
          {
            "node": "Get Group Profile1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Activity Detected1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Group Profile1": {
      "main": [
        [
          {
            "node": "Build Consolidated Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Markdown File": {
      "main": [
        []
      ]
    },
    "Generate Diverse Fake Companies": {
      "main": [
        [
          {
            "node": "Filter by Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Threat Intelligence AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured TTP Output": {
      "ai_outputParser": [
        [
          {
            "node": "Threat Intelligence AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Threat Intelligence AI Agent": {
      "main": [
        [
          {
            "node": "Enhance Brief with AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Brief with AI Analysis": {
      "main": [
        [
          {
            "node": "Slack Alert1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Doc Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output Markdown File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f652d468-6ac1-4efc-9646-732c13a37b36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbe81fad39a3805d66d38d610a8c03d86427cc6ed63eb951d0a7452b3c7ec5ca"
  },
  "id": "ePA6gBJ3Ci95iwXp",
  "tags": [
    {
      "updatedAt": "2026-02-28T01:45:57.430Z",
      "createdAt": "2026-02-28T01:45:57.430Z",
      "id": "PNNJmmJMXgCJtTD6",
      "name": "Ransomware-Intel"
    },
    {
      "updatedAt": "2026-02-28T01:45:57.347Z",
      "createdAt": "2026-02-28T01:45:57.347Z",
      "id": "hSPGEon4dskhR9Xg",
      "name": "SANS-Webinar"
    },
    {
      "updatedAt": "2026-02-28T01:45:57.394Z",
      "createdAt": "2026-02-28T01:45:57.394Z",
      "id": "qkt3wYGbfEGNfQ0J",
      "name": "101-Beginner"
    }
  ]
}
