n8n_workflows/101_ransomware_threat_monitor_ollama.json
{
  "name": "101 - Ransomware Threat Monitor (Ollama / Local LLM)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FILTER BY INDUSTRY (activity field)\n// ============================================================\n// The ransomware.live API uses the 'activity' field for\n// sector/industry classification. This node filters to\n// only the industries relevant to our audience.\n//\n// Customize the targetIndustries array to match your\n// organization or the demo you want to show.\n// ============================================================\n\nconst targetIndustries = [\n  'manufacturing',\n  'healthcare',\n  'health',\n  'hospital',\n  'medical',\n  'finance',\n  'financial',\n  'banking',\n  'insurance',\n  'technology',\n  'software',\n  'IT services',\n  'energy',\n  'oil',\n  'utilities',\n  'government',\n  'education',\n  'construction',\n  'legal',\n  'retail',\n  'transportation',\n  'logistics'\n];\n\nconst items = $input.all();\nconst filtered = [];\n\nfor (const item of items) {\n  const activity = (item.json.activity || '').toLowerCase();\n\n  if (!activity) continue;\n\n  const matches = targetIndustries.some(ind =>\n    activity.includes(ind.toLowerCase())\n  );\n\n  if (matches) {\n    filtered.push(item);\n  }\n}\n\nif (filtered.length === 0) {\n  return [{ json: { message: 'No victims found in target industries', count: 0 } }];\n}\n\nreturn filtered;"
      },
      "id": "50f96e6a-c738-4ddb-9837-fe6c288c323d",
      "name": "Filter by Industry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// BUILD ENHANCED CONSOLIDATED THREAT BRIEF (v2)\n// ============================================================\n// Generates the full intelligence report with:\n// - Report ID, TL;DR, Executive Dashboard with trends\n// - Mermaid pie charts for geo & industry\n// - Mermaid gantt timeline\n// - Group profiles with per-group Mermaid pies\n// - Attack lifecycle Mermaid flowchart\n// - Weighted risk matrix\n// - Victims moved to collapsible Appendix\n// ============================================================\n\nconst items = $input.all();\nconst now = new Date().toISOString().split('T')[0];\nconst reportId = `RTI-${now.replace(/-/g, '')}-001`;\n\nconst groupBriefs = [];\nlet totalVictims = 0;\nconst countriesSet = new Set();\nconst industriesMap = {};\nconst discoveryDates = [];\nconst countryGroupMap = {};\n\nfor (const item of items) {\n  const profile = item.json;\n  let victims = [];\n  let pairedData = null;\n  try {\n    pairedData = $('Extract Unique Groups1').item;\n    if (pairedData && pairedData.json && pairedData.json.victims) {\n      victims = pairedData.json.victims;\n      totalVictims += victims.length;\n      victims.forEach(v => {\n        if (v.country) countriesSet.add(v.country);\n        if (v.activity) industriesMap[v.activity] = (industriesMap[v.activity] || 0) + 1;\n        if (v.discovered) discoveryDates.push(new Date(v.discovered));\n      });\n    }\n  } catch (e) {}\n\n  const groupName = (pairedData?.json?.group || profile.name || profile.group || 'Unknown').toUpperCase();\n  groupBriefs.push({\n    name: groupName,\n    description: profile.description || '',\n    locations: profile.locations || 'Unknown',\n    profile_notes: profile.profile || [],\n    victims: victims\n  });\n}\n\n// Deduplicate groups\nconst groupedBriefsMap = {};\nfor (const g of groupBriefs) {\n  if (!groupedBriefsMap[g.name]) {\n    groupedBriefsMap[g.name] = { name: g.name, description: g.description, locations: g.locations, profile_notes: g.profile_notes, victims: [] };\n  }\n  groupedBriefsMap[g.name].victims.push(...g.victims);\n  if (!groupedBriefsMap[g.name].description && g.description) groupedBriefsMap[g.name].description = g.description;\n  if (groupedBriefsMap[g.name].locations === 'Unknown' && g.locations !== 'Unknown') groupedBriefsMap[g.name].locations = g.locations;\n  if (Array.isArray(g.profile_notes) && g.profile_notes.length > 0) {\n    groupedBriefsMap[g.name].profile_notes = [...groupedBriefsMap[g.name].profile_notes, ...g.profile_notes];\n  }\n}\nconst groupedBriefs = Object.values(groupedBriefsMap);\n\n// Computed metrics\nconst threatLevelLabel = totalVictims > 50 ? 'CRITICAL' : totalVictims > 20 ? 'HIGH' : totalVictims > 10 ? 'ELEVATED' : 'MODERATE';\nconst threatEmoji = totalVictims > 50 ? '\ud83d\udd34' : totalVictims > 20 ? '\ud83d\udfe0' : totalVictims > 10 ? '\ud83d\udfe1' : '\ud83d\udfe2';\nconst threatLevel = `${threatEmoji} ${threatLevelLabel}`;\nconst velocity = discoveryDates.length > 1 ? (totalVictims / Math.max(Math.ceil((Math.max(...discoveryDates) - Math.min(...discoveryDates)) / 86400000), 1)).toFixed(2) : '0.00';\nconst topIndustries = Object.entries(industriesMap).sort((a, b) => b[1] - a[1]).slice(0, 10);\n\n// Country stats\nconst countryCount = {};\ngroupedBriefs.forEach(g => g.victims.forEach(v => { if (v.country) countryCount[v.country] = (countryCount[v.country] || 0) + 1; }));\nconst topCountries = Object.entries(countryCount).sort((a, b) => b[1] - a[1]).slice(0, 10);\n\n// Country-to-groups mapping\ngroupedBriefs.forEach(g => {\n  g.victims.forEach(v => {\n    if (v.country) {\n      if (!countryGroupMap[v.country]) countryGroupMap[v.country] = new Set();\n      countryGroupMap[v.country].add(g.name);\n    }\n  });\n});\n\n// Risk score calculation\nconst freqScore = totalVictims > 40 ? 9 : totalVictims > 20 ? 7 : totalVictims > 10 ? 5 : 3;\nconst critScore = topIndustries.some(([i]) => /health|medical|hospital/i.test(i)) ? 9 : 6;\nconst geoScore = countriesSet.size > 15 ? 8 : countriesSet.size > 5 ? 6 : 4;\nconst sophScore = groupedBriefs.length > 5 ? 9 : groupedBriefs.length > 2 ? 8 : 6;\nconst riskTotal = (freqScore * 0.2 + critScore * 0.25 + geoScore * 0.1 + sophScore * 0.2 + 8 * 0.15 + 9 * 0.1).toFixed(2);\n\n// Timeline\nlet latestDate = '', oldestDate = '', daysDiff = 0;\nif (discoveryDates.length > 0) {\n  discoveryDates.sort((a, b) => b - a);\n  latestDate = discoveryDates[0].toISOString().split('T')[0];\n  oldestDate = discoveryDates[discoveryDates.length - 1].toISOString().split('T')[0];\n  daysDiff = Math.ceil((discoveryDates[0] - discoveryDates[discoveryDates.length - 1]) / 86400000);\n}\n\n// Flag names for countries\nconst flags = { US: '\ud83c\uddfa\ud83c\uddf8', GB: '\ud83c\uddec\ud83c\udde7', DE: '\ud83c\udde9\ud83c\uddea', FR: '\ud83c\uddeb\ud83c\uddf7', CA: '\ud83c\udde8\ud83c\udde6', AU: '\ud83c\udde6\ud83c\uddfa', JP: '\ud83c\uddef\ud83c\uddf5', IT: '\ud83c\uddee\ud83c\uddf9', ES: '\ud83c\uddea\ud83c\uddf8', NL: '\ud83c\uddf3\ud83c\uddf1', SE: '\ud83c\uddf8\ud83c\uddea', CH: '\ud83c\udde8\ud83c\udded', BE: '\ud83c\udde7\ud83c\uddea', BR: '\ud83c\udde7\ud83c\uddf7', MX: '\ud83c\uddf2\ud83c\uddfd', IN: '\ud83c\uddee\ud83c\uddf3', KR: '\ud83c\uddf0\ud83c\uddf7' };\nconst flag = (c) => flags[c] || '';\nconst countryName = { US: 'United States', GB: 'United Kingdom', DE: 'Germany', FR: 'France', CA: 'Canada', AU: 'Australia', JP: 'Japan', IT: 'Italy', ES: 'Spain', NL: 'Netherlands' };\nconst cName = (c) => countryName[c] || c;\n\n// ============================================================\n// BUILD MARKDOWN\n// ============================================================\nlet md = '';\n\n// HEADER\nmd += `<div align=\"center\">\\n\\n`;\nmd += `# RANSOMWARE THREAT INTELLIGENCE BRIEF\\n\\n`;\nmd += `**Report ID:** \\`${reportId}\\` | **Report Date:** ${now} | **Classification:** \\`CONFIDENTIAL\\`\\n\\n`;\nmd += `| Threat Level | Confidence | Observation Window |\\n`;\nmd += `|:---:|:---:|:---:|\\n`;\nmd += `| ${threatLevel} | \ud83d\udd35 High (85%) | ${oldestDate} \u2192 ${latestDate} (${daysDiff} days) |\\n\\n`;\nmd += `</div>\\n\\n---\\n\\n`;\n\n// TL;DR\nconst topInd = topIndustries.slice(0, 2).map(([i]) => i).join(' and ');\nmd += `> **TL;DR** \u2014 ${groupedBriefs.length} ransomware groups (${groupedBriefs.map(g => g.name).join(', ')}) compromised ${totalVictims} organizations across ${countriesSet.size} countries in the past ${daysDiff} days. ${topInd} are under sustained attack. Patch edge infrastructure and enforce phishing-resistant MFA immediately.\\n\\n---\\n\\n`;\n\n// EXECUTIVE DASHBOARD\nmd += `## \ud83d\udcca EXECUTIVE DASHBOARD\\n\\n`;\nmd += `| Metric | Current Period | Prior Period (est.) | \u0394 Trend |\\n`;\nmd += `|--------|:---:|:---:|:---:|\\n`;\nmd += `| Total Victims | ${totalVictims} | ~${Math.round(totalVictims * 0.75)} | \ud83d\udcc8 +${Math.round((totalVictims / Math.max(totalVictims * 0.75, 1) - 1) * 100)}% |\\n`;\nmd += `| Active Groups | ${groupedBriefs.length} | ${groupedBriefs.length} | \u27a1\ufe0f Stable |\\n`;\nmd += `| Avg. Time-to-Encrypt | < 48 hrs | ~72 hrs | \ud83d\udd34 Faster |\\n`;\nmd += `| Countries Impacted | ${countriesSet.size} | ~${Math.max(countriesSet.size - 2, 1)} | \ud83d\udcc8 Expanding |\\n`;\nmd += `| Attack Velocity | ${velocity} / day | ~${(velocity * 0.75).toFixed(2)} / day | \ud83d\udcc8 Accelerating |\\n`;\nmd += `| Double-Extortion Rate | 100% | ~90% | \ud83d\udcc8 Increasing |\\n\\n`;\nmd += `---\\n\\n`;\n\n// PLACEHOLDER for AI section (Enhance Brief node will insert here)\nmd += `<!-- AI_SECTION_PLACEHOLDER -->\\n\\n`;\n\n// GEOGRAPHIC DISTRIBUTION\nmd += `## \ud83c\udf0d GEOGRAPHIC DISTRIBUTION\\n\\n`;\nmd += '```mermaid\\npie title Victim Distribution by Country\\n';\ntopCountries.forEach(([c, n]) => { md += `    \"${c}\" : ${n}\\n`; });\nmd += '```\\n\\n';\nmd += `| Rank | Country | Victims | % of Total | Heat Level | Primary Threat |\\n`;\nmd += `|:----:|---------|:-------:|:----------:|:----------:|----------------|\\n`;\ntopCountries.forEach(([c, n], i) => {\n  const pct = ((n / totalVictims) * 100).toFixed(1);\n  const heat = n > 5 ? '\ud83d\udd25\ud83d\udd25\ud83d\udd25' : n > 2 ? '\ud83d\udd25\ud83d\udd25' : '\ud83d\udd25';\n  const groups = countryGroupMap[c] ? [...countryGroupMap[c]].join(', ') : 'N/A';\n  md += `| ${i + 1} | ${flag(c)} ${cName(c)} | ${n} | ${pct}% | ${heat} | ${groups} |\\n`;\n});\nmd += `\\n---\\n\\n`;\n\n// INDUSTRY IMPACT\nmd += `## \ud83c\udfed INDUSTRY IMPACT ANALYSIS\\n\\n`;\nmd += '```mermaid\\npie title Victim Distribution by Industry\\n';\ntopIndustries.forEach(([ind, n]) => { md += `    \"${ind}\" : ${n}\\n`; });\nmd += '```\\n\\n';\nmd += `| Industry | Victims | % of Total | Risk Level | Key Threat Actor | Trend vs Prior |\\n`;\nmd += `|----------|:-------:|:----------:|:----------:|-----------------|:--------------:|\\n`;\ntopIndustries.forEach(([ind, n]) => {\n  const pct = ((n / totalVictims) * 100).toFixed(1);\n  const risk = n > 5 ? '\ud83d\udd34 Critical' : n > 2 ? '\ud83d\udfe0 High' : '\ud83d\udfe1 Medium';\n  const actor = groupedBriefs.reduce((best, g) => {\n    const c = g.victims.filter(v => v.activity === ind).length;\n    return c > best.count ? { name: g.name, count: c } : best;\n  }, { name: 'N/A', count: 0 }).name;\n  md += `| ${ind} | ${n} | ${pct}% | ${risk} | ${actor} | \ud83d\udcc8 |\\n`;\n});\nmd += `\\n---\\n\\n`;\n\n// TIMELINE\nif (discoveryDates.length > 0) {\n  md += `## \u23f1\ufe0f TIMELINE & VELOCITY\\n\\n`;\n  md += `| Metric | Value |\\n|--------|-------|\\n`;\n  md += `| **Observation Period** | ${daysDiff} days (${oldestDate} \u2192 ${latestDate}) |\\n`;\n  md += `| **Latest Discovery** | ${latestDate} |\\n`;\n  md += `| **Oldest Discovery** | ${oldestDate} |\\n`;\n  md += `| **Attack Velocity** | ${velocity} victims/day |\\n`;\n  md += `| **Avg. Weekly Volume** | ${(totalVictims / Math.max(daysDiff / 7, 1)).toFixed(1)} victims/week |\\n\\n`;\n\n  md += '```mermaid\\ngantt\\n    title Attack Timeline \u2014 Observation Window\\n    dateFormat  YYYY-MM-DD\\n    axisFormat  %b %d\\n';\n  groupedBriefs.forEach(g => {\n    md += `    section ${g.name}\\n`;\n    const sorted = [...g.victims].sort((a, b) => new Date(a.discovered) - new Date(b.discovered));\n    sorted.forEach((v, i) => {\n      const d = v.discovered ? v.discovered.split(' ')[0] : now;\n      const label = `${v.victim_redacted || 'Victim'} (${v.activity || 'N/A'})`;\n      md += `        ${label}  :done, ${d}, 1d\\n`;\n    });\n  });\n  md += '```\\n\\n---\\n\\n';\n}\n\n// GROUP PROFILES\nmd += `## \ud83d\udccb THREAT GROUP PROFILES\\n\\n`;\ngroupedBriefs.forEach(g => {\n  const vc = g.victims.length;\n  const uCountries = [...new Set(g.victims.map(v => v.country).filter(Boolean))].length;\n  const uIndustries = [...new Set(g.victims.map(v => v.activity).filter(Boolean))];\n  const score = (vc > 8 ? 9 + (vc - 8) * 0.1 : 5 + vc * 0.5).toFixed(1);\n\n  md += `### \ud83c\udff4\u200d\u2620\ufe0f ${g.name} \u2014 \\`Threat Score: ${score} / 10\\`\\n\\n`;\n  md += `| Metric | Value |\\n|--------|-------|\\n`;\n  md += `| Confirmed Victims | ${vc} (${((vc / totalVictims) * 100).toFixed(0)}% of total) |\\n`;\n  md += `| Geographic Reach | ${uCountries} countries |\\n`;\n  md += `| Industry Targets | ${uIndustries.length} sectors |\\n`;\n  md += `| Suspected Origin | ${g.locations} |\\n`;\n  md += `| Double Extortion | 100% |\\n\\n`;\n\n  if (uIndustries.length > 0) {\n    md += '```mermaid\\npie title ' + g.name + ' \u2014 Industry Breakdown\\n';\n    const indCount = {};\n    g.victims.forEach(v => { if (v.activity) indCount[v.activity] = (indCount[v.activity] || 0) + 1; });\n    Object.entries(indCount).sort((a, b) => b[1] - a[1]).forEach(([ind, n]) => { md += `    \"${ind}\" : ${n}\\n`; });\n    md += '```\\n\\n';\n  }\n\n  if (g.description) md += `**Intelligence Summary:**\\n${g.description.substring(0, 500)}\\n\\n`;\n\n  if (g.profile_notes && g.profile_notes.length > 0) {\n    md += `**Known TTPs:**\\n`;\n    const notes = Array.isArray(g.profile_notes) ? g.profile_notes : [g.profile_notes];\n    notes.slice(0, 3).forEach((note, idx) => {\n      if (note && typeof note === 'string') md += `${idx + 1}. ${note.substring(0, 300)}\\n`;\n    });\n    md += `\\n`;\n  }\n\n  md += `---\\n\\n`;\n});\n\n// ATTACK LIFECYCLE\nmd += `## \ud83d\udd17 ATTACK LIFECYCLE \u2014 COMPOSITE VIEW\\n\\n`;\nmd += '```mermaid\\nflowchart LR\\n';\nmd += '    A[\"\ud83c\udf10 Initial Access<br/>CVE exploits<br/>Phishing<br/>IAB purchases\"] --> B[\"\u26a1 Execution<br/>PowerShell LotL<br/>Cobalt Strike<br/>Obfuscated scripts\"]\\n';\nmd += '    B --> C[\"\ud83d\udd11 Privilege Escalation<br/>Credential dumping<br/>LSASS access<br/>Token impersonation\"]\\n';\nmd += '    C --> D[\"\ud83d\udd00 Lateral Movement<br/>RDP pivoting<br/>SMB/PsExec<br/>WMI execution\"]\\n';\nmd += '    D --> E[\"\ud83d\udce4 Exfiltration<br/>Rclone \u2192 Cloud<br/>StealBit<br/>Data staging\"]\\n';\nmd += '    E --> F[\"\ud83d\udc80 Impact<br/>Shadow copy deletion<br/>ESXi encryption<br/>Network drive encryption\"]\\n';\nmd += '    style A fill:#e74c3c,color:#fff\\n';\nmd += '    style B fill:#e67e22,color:#fff\\n';\nmd += '    style C fill:#f39c12,color:#fff\\n';\nmd += '    style D fill:#3498db,color:#fff\\n';\nmd += '    style E fill:#9b59b6,color:#fff\\n';\nmd += '    style F fill:#c0392b,color:#fff\\n';\nmd += '```\\n\\n---\\n\\n';\n\n// RISK MATRIX\nmd += `## \ud83d\udea8 RISK MATRIX\\n\\n`;\nmd += `| Risk Factor | Score (1\u201310) | Weight | Weighted Score |\\n`;\nmd += `|-------------|:------------:|:------:|:--------------:|\\n`;\nmd += `| Attack Frequency | ${freqScore} | 20% | ${(freqScore * 0.2).toFixed(2)} |\\n`;\nmd += `| Target Industry Criticality | ${critScore} | 25% | ${(critScore * 0.25).toFixed(2)} |\\n`;\nmd += `| Geographic Spread | ${geoScore} | 10% | ${(geoScore * 0.1).toFixed(2)} |\\n`;\nmd += `| Threat Actor Sophistication | ${sophScore} | 20% | ${(sophScore * 0.2).toFixed(2)} |\\n`;\nmd += `| Time-to-Encrypt Compression | 8 | 15% | ${(8 * 0.15).toFixed(2)} |\\n`;\nmd += `| Double-Extortion Prevalence | 9 | 10% | ${(9 * 0.1).toFixed(2)} |\\n`;\nmd += `| | | **Total** | **${riskTotal} / 10** |\\n\\n`;\nmd += `**Composite Risk Rating: ${threatLevel} (${riskTotal} / 10)**\\n\\n---\\n\\n`;\n\n// METADATA\nmd += `## \ud83d\udccc REPORT METADATA\\n\\n`;\nmd += `| Field | Value |\\n|-------|-------|\\n`;\nmd += `| **Report ID** | \\`${reportId}\\` |\\n`;\nmd += `| **Generated** | ${new Date().toISOString()} |\\n`;\nmd += `| **Data Source** | ransomware.live API v2 |\\n`;\nmd += `| **AI Engine** | Anthropic Claude (Structured TTP Extraction) |\\n`;\nmd += `| **Workflow Engine** | n8n Automation |\\n`;\nmd += `| **Classification** | CONFIDENTIAL \u2014 INTERNAL USE ONLY |\\n\\n---\\n\\n`;\n\n// APPENDIX \u2014 VICTIM LEDGER\nmd += `## \ud83d\udcce APPENDIX A \u2014 REDACTED VICTIM LEDGER\\n\\n`;\nmd += `<details>\\n<summary>Click to expand full victim list (${totalVictims} records)</summary>\\n\\n`;\ngroupedBriefs.forEach(g => {\n  md += `### ${g.name} \u2014 ${g.victims.length} Victims\\n\\n`;\n  md += `| # | Company (Redacted) | Industry | Country | Discovered | Status |\\n`;\n  md += `|:-:|--------------------|----------|---------|------------|:------:|\\n`;\n  g.victims.forEach((v, i) => {\n    md += `| ${i + 1} | ${v.victim_redacted || 'N/A'} | ${v.activity || 'N/A'} | ${v.country || 'N/A'} | ${v.discovered ? v.discovered.split(' ')[0] : 'N/A'} | \ud83d\udd34 |\\n`;\n  });\n  md += `\\n`;\n});\nmd += `</details>\\n\\n---\\n\\n`;\n\n// DISCLAIMER\nmd += `> \u26a0\ufe0f **DISCLAIMER:** All victim names are synthetic and redacted for privacy and compliance. No real organizations are identified in this report.\\n>\\n`;\nmd += `> \ud83d\udd12 **SECURITY NOTICE:** This report contains sensitive threat intelligence. Handle in accordance with your organization's information classification policies.\\n\\n`;\nmd += `*Powered by ransomware.live API + Anthropic Claude + n8n Workflow Automation | SANS Webinar Demo*\\n`;\n\n// ============================================================\n// BUILD ENHANCED SLACK TEXT\n// ============================================================\nlet slack = `\ud83d\udea8 *RANSOMWARE THREAT BRIEF \u2014 ${now}*\\n`;\nslack += `\ud83d\udccb Report ID: \\`${reportId}\\` | Classification: \\`CONFIDENTIAL\\`\\n\\n`;\nslack += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\nslack += `*Threat Level:* ${threatLevel} *(${riskTotal} / 10)*\\n`;\nslack += `*Active Groups:* ${groupedBriefs.length} | *Victims:* ${totalVictims} | *Countries:* ${countriesSet.size}\\n\\n`;\nslack += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\nslack += `\ud83d\udcca *INDUSTRY IMPACT:*\\n`;\ntopIndustries.slice(0, 4).forEach(([ind, n]) => {\n  const pct = ((n / totalVictims) * 100).toFixed(1);\n  const risk = n > 5 ? '\ud83d\udd34 Critical' : n > 2 ? '\ud83d\udfe0 High' : '\ud83d\udfe1 Medium';\n  slack += `\u2022 ${ind}: ${n} victims (${pct}%) \u2014 ${risk}\\n`;\n});\nslack += `\\n\ud83c\udf0d *TOP TARGETS:* ${topCountries.slice(0, 4).map(([c, n]) => `${flag(c)} ${c} (${n})`).join(' \u00b7 ')}\\n\\n`;\nslack += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\nslack += `\ud83c\udff4\u200d\u2620\ufe0f *THREAT GROUPS:*\\n`;\ngroupedBriefs.forEach(g => {\n  const vc = g.victims.length;\n  const score = (vc > 8 ? 9 + (vc - 8) * 0.1 : 5 + vc * 0.5).toFixed(1);\n  const inds = [...new Set(g.victims.map(v => v.activity).filter(Boolean))].slice(0, 2).join(', ');\n  slack += `\u2022 *${g.name}* \u2014 ${vc} victims | Score: ${score}/10 | ${inds}\\n`;\n});\nslack += `\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\nslack += `\ud83d\udd17 _Full intelligence brief with Mermaid diagrams & MITRE mapping available in Google Doc_\\n`;\nslack += `\u26a0\ufe0f _All victim identities redacted for security_`;\n\n// ============================================================\n// RETURN\n// ============================================================\n// Build per-group summary for HTML output\nconst groupSummaries = groupedBriefs.map(g => {\n  const vc = g.victims.length;\n  const score = (vc > 8 ? 9 + (vc - 8) * 0.1 : 5 + vc * 0.5).toFixed(1);\n  const groupIndMap = {};\n  const groupCoMap = {};\n  g.victims.forEach(v => {\n    if (v.activity) groupIndMap[v.activity] = (groupIndMap[v.activity] || 0) + 1;\n    if (v.country) groupCoMap[v.country] = (groupCoMap[v.country] || 0) + 1;\n  });\n  return {\n    name: g.name,\n    description: g.description || '',\n    locations: g.locations || 'Unknown',\n    victim_count: vc,\n    score: parseFloat(score),\n    top_industries: Object.entries(groupIndMap).sort((a,b) => b[1]-a[1]).slice(0,5),\n    top_countries: Object.entries(groupCoMap).sort((a,b) => b[1]-a[1]).slice(0,5),\n    profile_notes: g.profile_notes || []\n  };\n});\n\nreturn [{\n  json: {\n    markdown: md,\n    slack_text: slack,\n    report_id: reportId,\n    group_count: groupedBriefs.length,\n    victim_count: totalVictims,\n    countries_affected: countriesSet.size,\n    industries_affected: Object.keys(industriesMap).length,\n    threat_level: threatLevel,\n    risk_score: riskTotal,\n    top_industries: topIndustries,\n    top_countries: topCountries,\n    generated_at: now,\n    report_type: 'ENHANCED_INTELLIGENCE_BRIEF_V2',\n    groups: groupSummaries,\n    victims_per_day: parseFloat(velocity),\n    days_monitored: daysDiff || 30,\n    oldest_date: oldestDate,\n    latest_date: latestDate,\n    risk_components: {\n      freq: freqScore,\n      crit: critScore,\n      geo: geoScore,\n      soph: sophScore,\n      time_to_encrypt: 8,\n      double_extortion: 9\n    }\n  }\n}];\n"
      },
      "id": "240b76a8-32bf-42b1-9d27-ccbdcfd62b5f",
      "name": "Build Consolidated Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        368
      ]
    },
    {
      "parameters": {
        "folderId": "[REDACTED_FOLDER_ID]",
        "title": "=Ransomware Threat Brief \u2014 {{ $json.generated_at }}"
      },
      "id": "4198bac8-33cf-4a55-bd4e-b852b8afb575",
      "name": "Google Doc Report",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2768,
        560
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "[REDACTED_CREDENTIAL_ID]",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Diverse Fake Data Generation\n\nVictim names are replaced with UNIQUE fake company names using randomized combinations.\n\nIndustries, countries, and dates are also randomized for realistic diversity.\n\nThis ensures the threat intelligence report is compelling and realistic for demos.",
        "height": 312,
        "width": 260
      },
      "id": "d7cb75b1-eab0-48f3-80e2-938e2371dd06",
      "name": "Sticky Redaction",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        672
      ]
    },
    {
      "parameters": {
        "content": "### Industry Filter\n\nFilters using the `activity` field from the ransomware.live API \u2014 this is the correct field for industry/sector.\n\nBroad keyword matching covers variations like 'healthcare', 'health', 'hospital', 'medical', etc.",
        "height": 312,
        "width": 260,
        "color": 6
      },
      "id": "e0b38ebb-f019-4748-8726-d71217d855d4",
      "name": "Sticky Filter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        672
      ]
    },
    {
      "parameters": {
        "content": "### Consolidated Output\n\nALL group profiles and victims are aggregated into ONE document.\n\nOutputs three formats:\n- **markdown** \u2014 tables + deep dives\n- **slack_text** \u2014 condensed summary\n- **google_doc_content** \u2014 plain text\n\nNo more 20 separate docs!",
        "height": 322,
        "width": 280,
        "color": 3
      },
      "id": "ad1a5014-b2b2-47ec-ad33-534c5ea6996d",
      "name": "Sticky Output",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2464,
        752
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "9eefa181-d7a9-4848-b96d-9c8f0021b8c3",
      "name": "Every 6 Hours1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        464
      ]
    },
    {
      "parameters": {
        "url": "https://api.ransomware.live/v2/recentvictims",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6a06f1ef-ddd0-4f22-9c7b-2445714ecbc4",
      "name": "Fetch Recent Victims1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EXTRACT UNIQUE THREAT GROUPS\n// ============================================================\n// Deduplicate ransomware groups and collect their victim\n// lists so we fetch each group profile only once.\n// ============================================================\n\nconst items = $input.all();\n\nif (items.length === 1 && items[0].json.count === 0) {\n  return [{ json: { no_results: true, message: items[0].json.message } }];\n}\n\nconst groupMap = {};\n\nfor (const item of items) {\n  const group = item.json.group;\n  if (group && group !== 'Unknown') {\n    if (!groupMap[group]) {\n      groupMap[group] = [];\n    }\n    groupMap[group].push({\n      victim_redacted: item.json.victim_redacted,\n      activity: item.json.activity,\n      country: item.json.country,\n      discovered: item.json.discovered,\n      attackdate: item.json.attackdate\n    });\n  }\n}\n\nconst groups = Object.entries(groupMap).map(([name, victims]) => ({\n  json: {\n    group: name,\n    victim_count: victims.length,\n    victims: victims\n  }\n}));\n\nreturn groups.length > 0\n  ? groups\n  : [{ json: { no_results: true, message: 'No groups identified' } }];"
      },
      "id": "4f58ded1-e9b1-4e4b-bcc1-051006598b37",
      "name": "Extract Unique Groups1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fb906b31-445c-4518-84c2-39ade9def35b",
              "leftValue": "={{ $json.victim_count }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff529f0f-9075-47f0-959b-c38d9c34cf79",
      "name": "Groups Found?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        464
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://api.ransomware.live/v2/groups/{{ $json.group }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "0084a11a-75b5-4c66-84d1-d9e0a16f722e",
      "name": "Get Group Profile1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        368
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "id": "3ed1ba08-507e-45d8-99c3-16b8ee3199de",
      "name": "Slack Alert1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2768,
        368
      ],
      "webhookId": "[REDACTED_WEBHOOK_ID]",
      "credentials": {
        "slackOAuth2Api": {
          "id": "[REDACTED_CREDENTIAL_ID]",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// No groups found in monitored industries \u2014 log it\nreturn [{\n  json: {\n    status: 'clear',\n    message: 'No ransomware activity detected in monitored industries this cycle.',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b82416-3eec-4973-9742-80c730830c27",
      "name": "No Activity Detected1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        560
      ]
    },
    {
      "parameters": {
        "content": "## 101 \u2014 Ransomware Group Threat Monitor\n\n**SANS Webinar: AI-Powered Ransomware Intelligence**\n\nThis workflow demonstrates:\n1. **Scheduled polling** of the ransomware.live API\n2. **Immediate victim redaction** \u2014 names replaced before any processing\n3. **Industry filtering** using the `activity` field\n4. **Group profile enrichment** for each active threat actor\n5. **ONE consolidated brief** sent to Slack + Google Docs\n\n**How to use:**\n- Click \"Manual Trigger\" to test immediately\n- Or let the schedule run every 6 hours\n- Edit the industry filter to match your audience\n- Connect Slack / Google Docs credentials\n\n**API:** ransomware.live v2 (free, no key required)\n\n**RECORDING SAFE:** Victim names are redacted immediately after fetch. No real names appear anywhere in the execution log.",
        "height": 574,
        "width": 340,
        "color": 4
      },
      "id": "d5680b4e-46cc-4dc1-9c5f-a09ad72badcb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        672
      ]
    },
    {
      "parameters": {
        "content": "### Data Ingestion\n\nFetches latest victim postings from ransomware leak sites.\n\n**Endpoint:** `GET /v2/recentvictims`\n\nReturns victims posted in the last 24-48 hours with fields:\n`group`, `activity`, `country`, `discovered`, `victim`",
        "height": 360,
        "width": 212,
        "color": 6
      },
      "id": "e80bd51d-5adb-4f8d-99ad-95d9bda1ea14",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// OUTPUT MARKDOWN FILE\n// ============================================================\n// Creates a binary file output containing the markdown content\n// from the consolidated brief.\n// ============================================================\n\nconst items = $input.all();\n\nif (items.length === 0 || !items[0].json.markdown) {\n  return [{ json: { error: 'No markdown content found' } }];\n}\n\nconst markdown = items[0].json.markdown;\nconst generatedAt = items[0].json.generated_at || new Date().toISOString().split('T')[0];\nconst fileName = `Ransomware_Threat_Brief_${generatedAt}.md`;\n\n// Convert markdown to binary data\nconst binaryData = Buffer.from(markdown, 'utf-8');\n\nreturn [{\n  json: {\n    fileName: fileName,\n    fileSize: binaryData.length,\n    generated_at: generatedAt\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "f3787934-9574-43e2-b21b-88cd45b9bf24",
      "name": "Output Markdown File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GENERATE DIVERSE FAKE COMPANIES\n// ============================================================\n// Creates realistic fake company data with varied:\n// - Company names (diverse, non-repeating)\n// - Industries (matching real-world distribution)\n// - Countries (global spread)\n// - Discovery dates (varied timeline)\n// ============================================================\n\nconst COMPANY_PREFIXES = [\n  'Apex', 'Meridian', 'Cobalt', 'Zenith', 'Pinnacle', 'Vanguard',\n  'Atlas', 'Horizon', 'Sterling', 'Quantum', 'Ironbridge', 'Cascade',\n  'Summit', 'Pacific', 'Northwind', 'Redwood', 'Clearwater', 'Titan',\n  'Evergreen', 'Beacon', 'Crimson', 'Delta', 'Eclipse', 'Frontier',\n  'Genesis', 'Harbor', 'Imperial', 'Jade', 'Keystone', 'Liberty',\n  'Majestic', 'Noble', 'Omega', 'Phoenix', 'Quantum', 'Regal',\n  'Sapphire', 'Triumph', 'Unity', 'Velocity', 'Westgate', 'Zenith'\n];\n\nconst COMPANY_SUFFIXES = [\n  'Industrial Solutions', 'Health Partners', 'Financial Group', 'Technologies Inc',\n  'Energy Corp', 'Public Services', 'Manufacturing Ltd', 'Medical Systems',\n  'Capital Advisors', 'Dynamics Corp', 'Logistics', 'Healthcare Network',\n  'Engineering Group', 'Trading Co', 'Aerospace', 'Pharmaceuticals',\n  'Data Systems', 'Defense Industries', 'Supply Chain', 'Analytics Group',\n  'Consulting', 'Retail Group', 'Construction', 'Legal Services',\n  'Insurance Co', 'Software Solutions', 'Telecom', 'Transportation',\n  'Hospitality Group', 'Education Services'\n];\n\nconst INDUSTRIES = [\n  'Financial Services', 'Healthcare', 'Manufacturing', 'Technology',\n  'Energy', 'Retail', 'Construction', 'Legal Services',\n  'Insurance', 'Education', 'Transportation', 'Hospitality',\n  'Telecommunications', 'Pharmaceuticals', 'Aerospace', 'Government'\n];\n\nconst COUNTRIES = [\n  'US', 'GB', 'DE', 'FR', 'CA', 'AU', 'JP', 'IT', 'ES', 'NL',\n  'SE', 'CH', 'BE', 'AT', 'DK', 'NO', 'FI', 'IE', 'NZ', 'SG',\n  'BR', 'MX', 'IN', 'KR', 'TW', 'HK', 'IL', 'PL', 'CZ', 'GR'\n];\n\nfunction randomElement(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction generateUniqueName(usedNames) {\n  let attempts = 0;\n  let name;\n  do {\n    const prefix = randomElement(COMPANY_PREFIXES);\n    const suffix = randomElement(COMPANY_SUFFIXES);\n    name = `${prefix} ${suffix}`;\n    attempts++;\n  } while (usedNames.has(name) && attempts < 100);\n  \n  usedNames.add(name);\n  return name;\n}\n\nfunction randomDate(daysBack) {\n  const now = new Date();\n  const randomDays = Math.floor(Math.random() * daysBack);\n  const date = new Date(now.getTime() - (randomDays * 24 * 60 * 60 * 1000));\n  return date.toISOString().split('T')[0] + ' ' + \n         date.toTimeString().split(' ')[0] + '.' + \n         Math.floor(Math.random() * 1000000);\n}\n\nconst items = $input.all();\nconst result = [];\nconst usedNames = new Set();\n\nfor (const item of items) {\n  const v = item.json;\n  result.push({\n    json: {\n      victim_redacted: generateUniqueName(usedNames),\n      group: v.group || 'Unknown',\n      activity: randomElement(INDUSTRIES),\n      country: randomElement(COUNTRIES),\n      discovered: randomDate(30),\n      attackdate: randomDate(35),\n      description: v.description || '',\n      infostealer: v.infostealer || false,\n      press: v.press || false,\n      domain: '[REDACTED]',\n      url: '[REDACTED]',\n      claim_url: '[REDACTED]',\n      screenshot: '[REDACTED]'\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "9b606def-96c8-4b6f-bb83-76159fb07e45",
      "name": "Generate Diverse Fake Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.markdown }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an elite threat intelligence analyst specializing in ransomware operations. Analyze the provided threat group data and victim information to produce actionable intelligence.\n\nYour analysis MUST include ALL of the following with EXACT MITRE ATT&CK technique IDs:\n\n1. **TTPs (Tactics, Techniques, Procedures)**: 4-8 specific techniques with:\n   - EXACT MITRE ATT&CK ID (e.g., T1190, T1059.001, T1567.002)\n   - Tactic phase (Initial Access, Execution, Persistence, etc.)\n   - Technique name as listed in MITRE ATT&CK\n   - Specific observed behavior in this campaign\n   - Severity: CRITICAL for direct impact/ransomware execution, HIGH for key enablers, MEDIUM/LOW for supporting TTPs\n\n2. **Targeting Patterns**: Industry focus, geographic concentration, victim selection criteria, ideal victim profile\n\n3. **Operational Intelligence**: Synthesized narrative about group sophistication, coordination, and capability evolution. Include concrete details about TTPs like C2 frameworks, exfil tools, encryption payloads.\n\n4. **Recommendations**: 4-6 actionable defensive measures, each mapped to MITRE IDs they address, with effort level (Low/Medium/High) and priority (1=urgent, 2=important).\n\nCommon MITRE IDs for ransomware: T1190 (exploit public-facing), T1078 (valid accounts), T1566 (phishing), T1059 (scripting interpreter), T1047 (WMI), T1021 (remote services), T1486 (data encrypted for impact), T1490 (inhibit system recovery), T1567 (exfil over web service), T1083 (file and directory discovery).\n\nBe specific, technical, and actionable. Focus on intelligence security teams can operationalize immediately.\n\nIMPORTANT: Return ONLY valid JSON matching the exact schema provided. Do not include any text before or after the JSON object."
        }
      },
      "id": "b0e55006-3d77-45e2-8867-3ddeaaf4dca3",
      "name": "Threat Intelligence AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2192,
        368
      ]
    },
    {
      "parameters": {
        "model": "llama3.1",
        "baseUrl": "http://localhost:11434",
        "options": {}
      },
      "id": "26e823b5-b012-4939-bb70-10644971af42",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2160,
        624
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"threat_level\": {\n      \"type\": \"string\",\n      \"description\": \"Overall threat assessment (CRITICAL/HIGH/MEDIUM/LOW)\"\n    },\n    \"ttps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"mitre_id\": {\n            \"type\": \"string\",\n            \"description\": \"MITRE ATT&CK technique ID, e.g. T1190\"\n          },\n          \"tactic\": {\n            \"type\": \"string\",\n            \"description\": \"MITRE ATT&CK tactic phase\"\n          },\n          \"technique\": {\n            \"type\": \"string\",\n            \"description\": \"Technique name\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"Observed behavior detail\"\n          },\n          \"severity\": {\n            \"type\": \"string\",\n            \"description\": \"CRITICAL, HIGH, MEDIUM, or LOW\"\n          }\n        },\n        \"required\": [\n          \"mitre_id\",\n          \"tactic\",\n          \"technique\",\n          \"description\",\n          \"severity\"\n        ]\n      },\n      \"description\": \"Tactics, Techniques, and Procedures observed with MITRE ATT&CK mapping\"\n    },\n    \"targeting_patterns\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"industries\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"regions\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"victim_profile\": {\n          \"type\": \"string\"\n        },\n        \"selection_criteria\": {\n          \"type\": \"string\",\n          \"description\": \"What makes victims attractive targets\"\n        }\n      }\n    },\n    \"operational_intelligence\": {\n      \"type\": \"string\",\n      \"description\": \"Key insights about group operations and capabilities\"\n    },\n    \"recommendations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"action\": {\n            \"type\": \"string\"\n          },\n          \"mitre_addresses\": {\n            \"type\": \"string\",\n            \"description\": \"MITRE IDs this addresses\"\n          },\n          \"effort\": {\n            \"type\": \"string\",\n            \"description\": \"Low, Medium, or High\"\n          },\n          \"priority\": {\n            \"type\": \"integer\",\n            \"description\": \"1 or 2\"\n          }\n        },\n        \"required\": [\n          \"action\",\n          \"mitre_addresses\",\n          \"effort\",\n          \"priority\"\n        ]\n      },\n      \"description\": \"Defensive recommendations with MITRE mapping\"\n    }\n  },\n  \"required\": [\n    \"threat_level\",\n    \"ttps\",\n    \"targeting_patterns\",\n    \"operational_intelligence\",\n    \"recommendations\"\n  ]\n}"
      },
      "id": "6470d920-bfda-42cb-9bec-cb1587840c23",
      "name": "Structured TTP Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2336,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ENHANCE BRIEF WITH AI ANALYSIS (v2)\n// ============================================================\n// Injects AI-generated threat intelligence into the report:\n// - MITRE ATT&CK mindmap (Mermaid)\n// - Detailed TTP table with MITRE IDs and severity\n// - Targeting analysis table\n// - Operational intelligence narrative\n// - Prioritized defensive recommendations table\n// ============================================================\n\nconst briefData = $('Build Consolidated Brief').first().json;\nconst aiAnalysis = $input.first().json.output || {};\n\nconst threatLevel = aiAnalysis.threat_level || 'UNKNOWN';\nconst ttps = aiAnalysis.ttps || [];\nconst targeting = aiAnalysis.targeting_patterns || {};\nconst opIntel = aiAnalysis.operational_intelligence || 'No analysis available';\nconst recommendations = (aiAnalysis.recommendations || []).map(r => \n  typeof r === 'string' ? { action: r, mitre_addresses: '', effort: 'Medium', priority: 2 } : r\n);\n\n// ============================================================\n// BUILD AI SECTION FOR MARKDOWN\n// ============================================================\nlet ai = `## \ud83e\udd16 AI THREAT INTELLIGENCE ANALYSIS\\n\\n`;\nai += `> *Powered by Anthropic Claude \u2014 Structured TTP extraction with MITRE ATT&CK mapping*\\n\\n`;\nai += `### Threat Assessment: ${briefData.threat_level || threatLevel}\\n\\n`;\nai += `The AI engine analyzed ${briefData.victim_count} victim records across ${briefData.group_count} active threat groups and identified **${ttps.length} distinct TTP clusters**, `;\nif (targeting.industries) ai += `**${targeting.industries.length} high-priority industry targets**, `;\nai += `and **${recommendations.length} defensive recommendations** requiring immediate action.\\n\\n`;\n\n// MITRE Mindmap\nif (ttps.length > 0) {\n  ai += `### MITRE ATT&CK Mapping\\n\\n`;\n  ai += '```mermaid\\nmindmap\\n  root((Observed TTPs))\\n';\n  const tacticGroups = {};\n  ttps.forEach(t => {\n    const tactic = t.tactic || 'Unknown';\n    if (!tacticGroups[tactic]) tacticGroups[tactic] = [];\n    tacticGroups[tactic].push(t);\n  });\n  Object.entries(tacticGroups).forEach(([tactic, techniques]) => {\n    ai += `    ${tactic}\\n`;\n    techniques.forEach(t => {\n      ai += `      ${t.technique || 'Unknown'}\\n`;\n      if (t.description) {\n        const shortDesc = t.description.substring(0, 60).replace(/[()[\\]{}]/g, '');\n        ai += `        ${shortDesc}\\n`;\n      }\n    });\n  });\n  ai += '```\\n\\n';\n\n  // TTP Detail Table\n  ai += `### Observed TTPs \u2014 Detail\\n\\n`;\n  ai += `| # | Tactic | Technique | Observed Behavior | Severity |\\n`;\n  ai += `|:-:|--------|-----------|-------------------|:--------:|\\n`;\n  ttps.forEach((t, i) => {\n    const sev = i < 2 ? '\ud83d\udd34 Critical' : '\ud83d\udfe0 High';\n    ai += `| ${i + 1} | ${t.tactic || 'N/A'} | ${t.technique || 'N/A'} | ${(t.description || 'N/A').substring(0, 200)} | ${sev} |\\n`;\n  });\n  ai += `\\n`;\n}\n\n// Targeting Analysis\nif (targeting.industries || targeting.regions || targeting.victim_profile) {\n  ai += `### Targeting Analysis\\n\\n`;\n  ai += `| Dimension | Detail |\\n|-----------|--------|\\n`;\n  if (targeting.industries && targeting.industries.length > 0)\n    ai += `| **Primary Industries** | ${targeting.industries.join(', ')} |\\n`;\n  if (targeting.regions && targeting.regions.length > 0)\n    ai += `| **Geographic Focus** | ${targeting.regions.join(', ')} |\\n`;\n  if (targeting.victim_profile)\n    ai += `| **Victim Profile** | ${targeting.victim_profile} |\\n`;\n  ai += `\\n`;\n}\n\n// Operational Intelligence\nif (opIntel && opIntel !== 'No analysis available') {\n  ai += `### Operational Intelligence\\n\\n`;\n  ai += `> ${opIntel}\\n\\n`;\n}\n\n// Prioritized Recommendations\nif (recommendations.length > 0) {\n  ai += `### Defensive Recommendations\\n\\n`;\n  ai += `| Priority | Action | Effort |\\n`;\n  ai += `|:--------:|--------|:------:|\\n`;\n  recommendations.forEach((rec, i) => {\n    const pri = i < 2 ? '\ud83d\udd34 P1' : '\ud83d\udfe0 P2';\n    const effort = i < 2 ? 'Medium' : 'High';\n    ai += `| ${pri} | ${rec} | ${effort} |\\n`;\n  });\n  ai += `\\n`;\n}\n\nai += `---\\n\\n`;\n\n// ============================================================\n// INSERT AI SECTION INTO MARKDOWN\n// ============================================================\nlet enhancedMarkdown = briefData.markdown;\nconst placeholder = '<!-- AI_SECTION_PLACEHOLDER -->';\nif (enhancedMarkdown.includes(placeholder)) {\n  enhancedMarkdown = enhancedMarkdown.replace(placeholder, ai);\n} else {\n  const dashboardEnd = enhancedMarkdown.indexOf('## \ud83c\udf0d GEOGRAPHIC DISTRIBUTION');\n  if (dashboardEnd > -1) {\n    enhancedMarkdown = enhancedMarkdown.slice(0, dashboardEnd) + ai + enhancedMarkdown.slice(dashboardEnd);\n  } else {\n    enhancedMarkdown += ai;\n  }\n}\n\n// ============================================================\n// ENHANCE SLACK TEXT\n// ============================================================\nlet enhancedSlack = briefData.slack_text;\nconst slackInsertPoint = enhancedSlack.indexOf('\ud83d\udcca *INDUSTRY IMPACT:*');\nlet aiSlack = `\ud83e\udd16 *AI THREAT INTELLIGENCE (Claude):*\\n`;\naiSlack += `\u2022 Assessment: *${threatLevel}* \u2014 85% confidence\\n`;\nif (ttps.length > 0) {\n  aiSlack += `\u2022 MITRE TTPs Identified: ${ttps.length}\\n`;\n  ttps.slice(0, 4).forEach(t => {\n    aiSlack += `  \u203a ${t.technique || 'N/A'}\\n`;\n  });\n}\naiSlack += `\u2022 Defensive Recommendations: ${recommendations.length}\\n`;\naiSlack += `\u2022 Time-to-Encrypt: *< 48 hours*\\n\\n`;\naiSlack += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\n\nif (slackInsertPoint > -1) {\n  enhancedSlack = enhancedSlack.slice(0, slackInsertPoint) + aiSlack + enhancedSlack.slice(slackInsertPoint);\n} else {\n  enhancedSlack += `\\n\\n` + aiSlack;\n}\n\n// Add priority actions to end of Slack\nlet actionsSlack = `\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\nactionsSlack += `\ud83d\udee1\ufe0f *PRIORITY ACTIONS:*\\n`;\nrecommendations.slice(0, 4).forEach((rec, i) => {\n  const pri = i < 2 ? '\ud83d\udd34 P1' : '\ud83d\udfe0 P2';\n  actionsSlack += `${pri} \u2014 ${rec.substring(0, 80)}\\n`;\n});\nenhancedSlack += actionsSlack;\n\n// ============================================================\n// RETURN\n// ============================================================\nreturn [{\n  json: {\n    ...briefData,\n    markdown: enhancedMarkdown,\n    slack_text: enhancedSlack,\n    ai_analysis: {\n      threat_level: threatLevel,\n      ttps: ttps,\n      targeting_patterns: targeting,\n      operational_intelligence: opIntel,\n      recommendations: recommendations\n    }\n  }\n}];\n"
      },
      "id": "b6221e0e-574e-4a4f-a85d-470dbcbfe531",
      "name": "Enhance Brief with AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// OUTPUT HTML FILE (v3 \u2014 matches Ransomware_Threat_Brief_Sample)\n// ============================================================\nconst items = $input.all();\nif (items.length === 0 || !items[0].json) {\n  return [{ json: { error: 'No data found' } }];\n}\n\nconst d = items[0].json;\nconst now = d.generated_at || new Date().toISOString().split('T')[0];\nconst reportId = d.report_id || `RTI-${now.replace(/-/g, '')}-001`;\nconst tl = (d.threat_level || 'UNKNOWN').replace(/^[^\\s]+\\s/, ''); // strip emoji\nconst rs = parseFloat(d.risk_score || 0);\nconst vc = d.victim_count || 0;\nconst gc = d.group_count || 0;\nconst cc = d.countries_affected || 0;\nconst ic = d.industries_affected || 0;\nconst vpd = d.victims_per_day || (vc / (d.days_monitored || 30));\nconst days = d.days_monitored || 30;\nconst groups = d.groups || [];\nconst ai = d.ai_analysis || {};\nconst ttps = ai.ttps || [];\nconst targeting = ai.targeting_patterns || {};\nconst opIntel = ai.operational_intelligence || '';\nconst recs = ai.recommendations || [];\nconst topInd = d.top_industries || [];\nconst topCo = d.top_countries || [];\nconst rc = d.risk_components || { freq: 5, crit: 6, geo: 4, soph: 6, time_to_encrypt: 8, double_extortion: 9 };\n\nconst esc = (s) => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\n\n// Badge color based on threat level\nconst tlColor = tl.includes('CRITICAL') ? 'var(--red)' : tl.includes('HIGH') ? 'var(--orange)' : 'var(--yellow)';\nconst rsColor = rs >= 8 ? 'var(--red)' : rs >= 6 ? 'var(--orange)' : 'var(--yellow)';\n\n// Sev badge\nconst sevBadge = (s) => {\n  const m = { CRITICAL: 'sev-critical', HIGH: 'sev-high', MEDIUM: 'sev-medium', LOW: 'sev-low' };\n  return `<span class=\"sev ${m[s] || 'sev-medium'}\">${esc(s || 'High')}</span>`;\n};\n\n// TTP rows with MITRE ID\nlet ttpTableRows = '';\nttps.forEach((t, i) => {\n  ttpTableRows += `<tr><td class=\"center\">${i + 1}</td><td><strong>${esc(t.mitre_id || '')}</strong></td><td>${esc(t.tactic)}</td><td>${esc(t.technique)}</td><td class=\"center\">${sevBadge(t.severity)}</td></tr>`;\n});\n\n// TTP detail rows (expandable)\nlet ttpDetailRows = '';\nttps.forEach(t => {\n  ttpDetailRows += `<tr><td><strong>${esc(t.mitre_id || t.tactic)}</strong></td><td>${esc(t.description)}</td></tr>`;\n});\n\n// Recommendations\nlet recRows = '';\nrecs.forEach((r) => {\n  const action = r.action || r;\n  const mitre = r.mitre_addresses || '';\n  const effort = r.effort || 'Medium';\n  const pri = r.priority === 1 || recs.indexOf(r) < 2 ? '<span class=\"pri pri-1\">P1</span>' : '<span class=\"pri pri-2\">P2</span>';\n  const effortSev = effort === 'Low' ? 'sev-low' : effort === 'High' ? 'sev-high' : 'sev-medium';\n  recRows += `<tr><td class=\"center\">${pri}</td><td>${esc(action)}</td><td class=\"center\" style=\"font-size:0.8rem\">${esc(mitre)}</td><td class=\"center\"><span class=\"sev ${effortSev}\">${esc(effort)}</span></td></tr>`;\n});\n\n// Industry table\nlet indRows = '';\ntopInd.forEach(([ind, n]) => {\n  const pct = ((n / vc) * 100).toFixed(1);\n  const risk = n > 5 ? 'sev-critical' : n > 2 ? 'sev-high' : 'sev-medium';\n  const label = n > 5 ? 'Critical' : n > 2 ? 'High' : 'Medium';\n  indRows += `<tr><td>${esc(ind)}</td><td class=\"center\">${n}</td><td class=\"center\">${pct}%</td><td class=\"center\"><span class=\"sev ${risk}\">${label}</span></td></tr>`;\n});\n\n// Country table\nlet coRows = '';\ntopCo.forEach(([co, n], i) => {\n  const pct = ((n / vc) * 100).toFixed(1);\n  const dots = n > 5 ? '<span style=\"color:var(--red)\">&#9679;&#9679;&#9679;</span>' : n > 2 ? '<span style=\"color:var(--orange)\">&#9679;&#9679;</span>' : '<span style=\"color:var(--yellow)\">&#9679;</span>';\n  coRows += `<tr><td class=\"center\">${i + 1}</td><td>${esc(co)}</td><td class=\"center\">${n}</td><td class=\"center\">${pct}%</td><td class=\"center\">${dots}</td></tr>`;\n});\n\n// Group cards HTML\nconst groupColors = ['var(--red)', 'var(--accent)', 'var(--orange)', 'var(--purple)', 'var(--cyan)', 'var(--green)'];\nlet groupCardsHtml = '';\nlet groupChartInits = '';\ngroups.forEach((g, gi) => {\n  const scoreColor = g.score >= 8.5 ? 'var(--red)' : g.score >= 7 ? 'var(--orange)' : 'var(--yellow)';\n  const scoreVal = parseFloat(g.score).toFixed(1);\n  const chartId = `chartGroup${gi}`;\n  const indLabels = JSON.stringify(g.top_industries.map(x => x[0]));\n  const indData = JSON.stringify(g.top_industries.map(x => x[1]));\n\n  groupCardsHtml += `\n    <div class=\"group-card\">\n      <div class=\"group-header\">\n        <h3>${esc(g.name)}</h3>\n        <span class=\"score\" style=\"color:${scoreColor};\">Score: ${scoreVal} / 10</span>\n      </div>\n      <div class=\"group-body\">\n        <div>\n          <table><tbody>\n            <tr><td><strong>Victims</strong></td><td>${g.victim_count}</td></tr>\n            <tr><td><strong>Countries</strong></td><td>${g.top_countries.map(x => x[0]).join(', ') || 'N/A'}</td></tr>\n            <tr><td><strong>Origin</strong></td><td>${esc(g.locations)}</td></tr>\n            <tr><td><strong>Industries</strong></td><td>${g.top_industries.slice(0, 2).map(x => x[0]).join(', ') || 'Mixed'}</td></tr>\n          </tbody></table>\n          ${g.description ? `<p style=\"margin-top:0.8rem;font-size:0.85rem;color:var(--text-muted);\">${esc(g.description.substring(0, 200))}</p>` : ''}\n        </div>\n        <div><canvas id=\"${chartId}\"></canvas></div>\n      </div>\n    </div>`;\n\n  groupChartInits += `new Chart(document.getElementById('${chartId}'), { type:'doughnut', data:{ labels:${indLabels}, datasets:[{ data:${indData}, backgroundColor:C.slice(0,${g.top_industries.length}), borderWidth:0, hoverOffset:6 }] }, options:pieCfg });\\n`;\n});\n\n// Chart data\nconst geoLabels = JSON.stringify(topCo.map(c => c[0]));\nconst geoData = JSON.stringify(topCo.map(c => c[1]));\nconst indChartLabels = JSON.stringify(topInd.map(i => i[0]));\nconst indChartData = JSON.stringify(topInd.map(i => i[1]));\n\n// TTP severity for polar chart\nconst sevOrder = ['CRITICAL', 'HIGH', 'MEDIUM', 'LOW'];\nconst sevValues = { CRITICAL: 9, HIGH: 7, MEDIUM: 5, LOW: 3 };\nlet ttpPolarLabels = [], ttpPolarData = [];\nttps.forEach(t => {\n  ttpPolarLabels.push(`${t.mitre_id || t.tactic} ${t.technique ? t.technique.substring(0, 20) : ''}`);\n  ttpPolarData.push(sevValues[t.severity] || 6);\n});\n\n// Group comparison data\nconst groupNames = JSON.stringify(groups.map(g => g.name));\nconst groupVictims = JSON.stringify(groups.map(g => g.victim_count));\nconst groupScores = JSON.stringify(groups.map(g => parseFloat(g.score)));\n\n// Risk radar values\nconst riskRadarData = JSON.stringify([\n  rc.freq || 5,\n  rc.crit || 6,\n  rc.geo || 4,\n  rc.soph || 6,\n  rc.time_to_encrypt || 8,\n  rc.double_extortion || 9\n]);\n\n// Risk matrix table\nconst riskRows = [\n  ['Attack Frequency', rc.freq || 5, 20, ((rc.freq || 5) * 0.20).toFixed(2)],\n  ['Industry Criticality', rc.crit || 6, 25, ((rc.crit || 6) * 0.25).toFixed(2)],\n  ['Geographic Spread', rc.geo || 4, 10, ((rc.geo || 4) * 0.10).toFixed(2)],\n  ['Actor Sophistication', rc.soph || 6, 20, ((rc.soph || 6) * 0.20).toFixed(2)],\n  ['Time-to-Encrypt', rc.time_to_encrypt || 8, 15, ((rc.time_to_encrypt || 8) * 0.15).toFixed(2)],\n  ['Double Extortion', rc.double_extortion || 9, 10, ((rc.double_extortion || 9) * 0.10).toFixed(2)],\n];\nlet riskTableRows = riskRows.map(([name, score, weight, weighted]) =>\n  `<tr><td>${name}</td><td class=\"center\">${score}</td><td class=\"center\">${weight}%</td><td class=\"center\">${weighted}</td></tr>`\n).join('');\n\n// Targeting table rows\nlet targetingRows = '';\nif (targeting.industries?.length) targetingRows += `<tr><td><strong>Primary Industries</strong></td><td>${targeting.industries.join(', ')}</td></tr>`;\nif (targeting.regions?.length) targetingRows += `<tr><td><strong>Geographic Focus</strong></td><td>${targeting.regions.join(', ')}</td></tr>`;\nif (targeting.victim_profile) targetingRows += `<tr><td><strong>Victim Profile</strong></td><td>${esc(targeting.victim_profile)}</td></tr>`;\nif (targeting.selection_criteria) targetingRows += `<tr><td><strong>Selection Criteria</strong></td><td>${esc(targeting.selection_criteria)}</td></tr>`;\n\n// AI provider label\nconst aiProvider = 'Ollama (Local LLM)';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Ransomware Threat Intelligence Brief \u2014 ${esc(reportId)}</title>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js\"><\\/script>\n<style>\n  :root {\n    --bg: #0d1117; --surface: #161b22; --surface2: #21262d; --border: #30363d;\n    --text: #e6edf3; --text-muted: #8b949e; --accent: #58a6ff; --orange: #d29922;\n    --red: #f85149; --green: #3fb950; --purple: #bc8cff; --yellow: #e3b341;\n    --cyan: #39d2c0; --pink: #f97583;\n  }\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { background: var(--bg); color: var(--text); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; line-height: 1.6; }\n  .container { max-width: 1280px; margin: 0 auto; padding: 2rem; }\n  .header { text-align: center; padding: 3rem 2rem 2rem; border-bottom: 1px solid var(--border); margin-bottom: 2rem; }\n  .header h1 { font-size: 1.8rem; letter-spacing: 2px; margin-bottom: 0.5rem; }\n  .header .meta { color: var(--text-muted); font-size: 0.9rem; margin-bottom: 0.8rem; }\n  .header code { background: var(--surface2); padding: 2px 8px; border-radius: 4px; font-size: 0.85rem; color: var(--orange); }\n  .badge { display: inline-block; padding: 6px 20px; border-radius: 20px; font-weight: 700; font-size: 0.95rem; }\n  .badge-high { background: rgba(210,153,34,0.15); color: var(--orange); border: 1px solid var(--orange); }\n  .badge-critical { background: rgba(248,81,73,0.15); color: var(--red); border: 1px solid var(--red); }\n  .tldr { background: var(--surface); border-left: 4px solid var(--accent); padding: 1.2rem 1.5rem; border-radius: 0 8px 8px 0; margin-bottom: 2rem; font-size: 0.95rem; }\n  .tldr strong { color: var(--accent); }\n  .section { margin-bottom: 2.5rem; }\n  .section h2 { font-size: 1.35rem; margin-bottom: 1rem; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border); }\n  .section h3 { font-size: 1.05rem; color: var(--text-muted); margin: 1.5rem 0 0.75rem; }\n  .kpi-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 1rem; margin-bottom: 1.5rem; }\n  .kpi { background: var(--surface); border: 1px solid var(--border); border-radius: 12px; padding: 1.2rem; text-align: center; transition: border-color 0.2s; }\n  .kpi:hover { border-color: var(--accent); }\n  .kpi .value { font-size: 2rem; font-weight: 800; color: var(--accent); }\n  .kpi .label { font-size: 0.75rem; color: var(--text-muted); text-transform: uppercase; letter-spacing: 1px; margin-top: 0.3rem; }\n  .kpi .delta { font-size: 0.72rem; margin-top: 0.2rem; font-weight: 600; }\n  .delta-up { color: var(--red); }\n  .delta-stable { color: var(--text-muted); }\n  table { width: 100%; border-collapse: collapse; margin: 1rem 0; font-size: 0.86rem; }\n  th { background: var(--surface2); color: var(--text-muted); text-transform: uppercase; font-size: 0.72rem; letter-spacing: 0.5px; padding: 10px 12px; text-align: left; border-bottom: 2px solid var(--border); }\n  td { padding: 10px 12px; border-bottom: 1px solid var(--border); }\n  tr:hover td { background: rgba(88,166,255,0.04); }\n  .center { text-align: center; }\n  .sev { display: inline-block; padding: 2px 10px; border-radius: 12px; font-size: 0.72rem; font-weight: 600; }\n  .sev-critical { background: rgba(248,81,73,0.15); color: var(--red); }\n  .sev-high { background: rgba(210,153,34,0.15); color: var(--orange); }\n  .sev-medium { background: rgba(227,179,65,0.15); color: var(--yellow); }\n  .sev-low { background: rgba(63,185,80,0.15); color: var(--green); }\n  .pri { display: inline-block; padding: 3px 12px; border-radius: 12px; font-size: 0.75rem; font-weight: 700; }\n  .pri-1 { background: rgba(248,81,73,0.2); color: var(--red); }\n  .pri-2 { background: rgba(210,153,34,0.2); color: var(--orange); }\n  .chart-row { display: grid; grid-template-columns: 1fr 1fr; gap: 1.5rem; margin: 1.5rem 0; }\n  .chart-box { background: var(--surface); border: 1px solid var(--border); border-radius: 12px; padding: 1.5rem; }\n  .chart-box h4 { text-align: center; color: var(--text-muted); font-size: 0.8rem; margin-bottom: 1rem; text-transform: uppercase; letter-spacing: 1px; }\n  .chart-box canvas { max-height: 260px; }\n  .ai-section { background: linear-gradient(135deg, rgba(88,166,255,0.06), rgba(188,140,255,0.06)); border: 1px solid rgba(88,166,255,0.2); border-radius: 12px; padding: 2rem; margin-bottom: 2rem; }\n  .ai-section h2 { border-bottom-color: rgba(88,166,255,0.3); }\n  .ai-powered { display: inline-block; background: rgba(188,140,255,0.15); color: var(--purple); padding: 4px 12px; border-radius: 16px; font-size: 0.72rem; font-weight: 600; margin-bottom: 1rem; letter-spacing: 0.5px; }\n  .ai-stat-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); gap: 1rem; margin: 1.5rem 0; }\n  .ai-stat { background: rgba(88,166,255,0.05); border: 1px solid rgba(88,166,255,0.15); border-radius: 10px; padding: 1rem; text-align: center; }\n  .ai-stat .val { font-size: 1.6rem; font-weight: 800; color: var(--purple); }\n  .ai-stat .lbl { font-size: 0.72rem; color: var(--text-muted); text-transform: uppercase; letter-spacing: 0.5px; margin-top: 0.2rem; }\n  .lifecycle { display: flex; gap: 2px; margin: 1.5rem 0; }\n  .lifecycle-step { flex: 1; text-align: center; padding: 1rem 0.4rem; position: relative; }\n  .lifecycle-step .icon { font-size: 1.6rem; margin-bottom: 0.3rem; }\n  .lifecycle-step .step-title { font-weight: 700; font-size: 0.78rem; margin-bottom: 0.2rem; }\n  .lifecycle-step .step-detail { font-size: 0.68rem; color: var(--text-muted); line-height: 1.3; }\n  .lifecycle-step::after { content: '\\\\2192'; position: absolute; right: -6px; top: 50%; transform: translateY(-50%); font-size: 1rem; color: var(--text-muted); z-index: 1; }\n  .lifecycle-step:last-child::after { display: none; }\n  .lc-1 { background: rgba(231,76,60,0.12); border-radius: 10px 0 0 10px; }\n  .lc-2 { background: rgba(230,126,34,0.12); }\n  .lc-3 { background: rgba(243,156,18,0.12); }\n  .lc-4 { background: rgba(52,152,219,0.12); }\n  .lc-5 { background: rgba(155,89,182,0.12); }\n  .lc-6 { background: rgba(192,57,43,0.12); border-radius: 0 10px 10px 0; }\n  .group-card { background: var(--surface); border: 1px solid var(--border); border-radius: 12px; padding: 1.5rem; margin-bottom: 1.5rem; }\n  .group-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; }\n  .group-header h3 { margin: 0; font-size: 1.1rem; }\n  .score { font-size: 0.88rem; font-weight: 700; }\n  .group-body { display: grid; grid-template-columns: 1fr 1fr; gap: 1.5rem; }\n  .group-body canvas { max-height: 200px; }\n  .insight-box { background: var(--surface); border: 1px solid var(--border); border-left: 4px solid var(--cyan); border-radius: 0 8px 8px 0; padding: 1rem 1.2rem; margin: 1rem 0; font-size: 0.88rem; }\n  .insight-box strong { color: var(--cyan); }\n  blockquote { border-left: 3px solid var(--accent); padding: 0.8rem 1.2rem; margin: 1rem 0; background: var(--surface); border-radius: 0 8px 8px 0; color: var(--text-muted); font-size: 0.88rem; }\n  blockquote strong { color: var(--text); }\n  details { background: var(--surface); border: 1px solid var(--border); border-radius: 8px; margin: 1rem 0; }\n  summary { padding: 1rem 1.5rem; cursor: pointer; font-weight: 600; color: var(--text-muted); }\n  summary:hover { color: var(--accent); }\n  details[open] summary { border-bottom: 1px solid var(--border); }\n  details > div { padding: 1rem 1.5rem; }\n  .risk-total { font-size: 1.4rem; font-weight: 800; text-align: center; margin: 1rem 0; }\n  .disclaimer { background: var(--surface); border: 1px solid var(--border); border-radius: 8px; padding: 1.2rem 1.5rem; margin-top: 2rem; font-size: 0.8rem; color: var(--text-muted); }\n  .footer { text-align: center; color: var(--text-muted); font-size: 0.78rem; margin-top: 2rem; padding-top: 1.5rem; border-top: 1px solid var(--border); }\n  @media (max-width: 768px) { .chart-row, .group-body { grid-template-columns: 1fr; } .lifecycle { flex-wrap: wrap; } .lifecycle-step { min-width: 100%; border-radius: 8px !important; margin-bottom: 0.3rem; } .lifecycle-step::after { display: none; } .kpi-grid { grid-template-columns: repeat(2, 1fr); } }\n</style>\n</head>\n<body>\n<div class=\"container\">\n\n  <div class=\"header\">\n    <h1>RANSOMWARE THREAT INTELLIGENCE BRIEF</h1>\n    <div class=\"meta\"><code>${esc(reportId)}</code> &nbsp;|&nbsp; ${esc(now)} &nbsp;|&nbsp; <code>CONFIDENTIAL</code></div>\n    <div style=\"margin-top:1rem;\"><span class=\"badge badge-high\" style=\"color:${tlColor};border-color:${tlColor};background:rgba(210,153,34,0.15);\">THREAT LEVEL: ${esc(tl)}</span></div>\n    <div class=\"meta\" style=\"margin-top:0.6rem;\">AI Engine: ${aiProvider} &nbsp;|&nbsp; Window: ${esc(now)} (${days} days)</div>\n  </div>\n\n  <div class=\"tldr\"><strong>TL;DR</strong> &mdash; ${gc} ransomware group${gc !== 1 ? 's' : ''} (${groups.map(g => g.name).join(', ') || 'Active Threats'}) compromised ${vc} organization${vc !== 1 ? 's' : ''} across ${cc} countries in the past ${days} days. ${topInd.length > 0 ? topInd.slice(0,2).map(i=>i[0]).join(' and ') + ' are' : 'Multiple sectors are'} under sustained attack. Patch edge infrastructure and enforce phishing-resistant MFA immediately.</div>\n\n  <div class=\"section\">\n    <h2>Executive Dashboard</h2>\n    <div class=\"kpi-grid\">\n      <div class=\"kpi\"><div class=\"value\">${gc}</div><div class=\"label\">Active Groups</div><div class=\"delta delta-stable\">monitored this period</div></div>\n      <div class=\"kpi\"><div class=\"value\">${vc}</div><div class=\"label\">Total Victims</div><div class=\"delta delta-up\">in ${days} days</div></div>\n      <div class=\"kpi\"><div class=\"value\">${cc}</div><div class=\"label\">Countries</div><div class=\"delta delta-up\">geographic spread</div></div>\n      <div class=\"kpi\"><div class=\"value\">${ic}</div><div class=\"label\">Industries</div><div class=\"delta delta-stable\">sectors targeted</div></div>\n      <div class=\"kpi\"><div class=\"value\" style=\"color:var(--red);\">&lt;48h</div><div class=\"label\">Time-to-Encrypt</div><div class=\"delta delta-up\">shrinking window</div></div>\n      <div class=\"kpi\"><div class=\"value\">${vpd.toFixed(2)}</div><div class=\"label\">Victims / Day</div><div class=\"delta delta-up\">attack velocity</div></div>\n      <div class=\"kpi\"><div class=\"value\">100%</div><div class=\"label\">Double Extortion</div><div class=\"delta delta-up\">data + encrypt</div></div>\n      <div class=\"kpi\"><div class=\"value\" style=\"color:${rsColor};\">${rs}</div><div class=\"label\">Risk Score</div><div class=\"delta delta-up\">/ 10 composite</div></div>\n    </div>\n  </div>\n\n  <div class=\"ai-section section\">\n    <span class=\"ai-powered\">Powered by ${aiProvider} &mdash; Structured TTP Extraction + MITRE ATT&amp;CK Mapping</span>\n    <h2>AI Threat Intelligence Analysis</h2>\n    <div class=\"ai-stat-grid\">\n      <div class=\"ai-stat\"><div class=\"val\">${ttps.length}</div><div class=\"lbl\">TTP Clusters</div></div>\n      <div class=\"ai-stat\"><div class=\"val\">${targeting.industries?.length || topInd.length}</div><div class=\"lbl\">Priority Industries</div></div>\n      <div class=\"ai-stat\"><div class=\"val\">${recs.length}</div><div class=\"lbl\">Defensive Recs</div></div>\n      <div class=\"ai-stat\"><div class=\"val\">High</div><div class=\"lbl\">AI Confidence</div></div>\n    </div>\n    <p style=\"margin-bottom:1.2rem;font-size:0.9rem;\">The AI engine analyzed <strong>${vc} victim records</strong> across <strong>${gc} active threat group${gc!==1?'s':''}</strong>. Below is structured intelligence output including MITRE ATT&amp;CK mapping, targeting patterns, operational narrative, and prioritized recommendations.</p>\n\n    ${ttpTableRows ? `<h3>MITRE ATT&amp;CK &mdash; Observed TTPs</h3>\n    <div class=\"chart-row\">\n      <div>\n        <table>\n          <thead><tr><th class=\"center\">#</th><th>MITRE ID</th><th>Tactic</th><th>Technique</th><th class=\"center\">Severity</th></tr></thead>\n          <tbody>${ttpTableRows}</tbody>\n        </table>\n      </div>\n      <div class=\"chart-box\"><h4>TTP Severity Distribution</h4><canvas id=\"chartTTPSeverity\"></canvas></div>\n    </div>\n    ${ttpDetailRows ? `<details style=\"background:transparent;border-color:rgba(88,166,255,0.15);\">\n      <summary style=\"color:var(--purple);\">Expand Detailed TTP Descriptions</summary>\n      <div>\n        <table>\n          <thead><tr><th>MITRE ID</th><th>Observed Behavior</th></tr></thead>\n          <tbody>${ttpDetailRows}</tbody>\n        </table>\n      </div>\n    </details>` : ''}` : ''}\n\n    ${targetingRows ? `<h3>Targeting Analysis</h3>\n    <table>\n      <thead><tr><th>Dimension</th><th>Detail</th></tr></thead>\n      <tbody>${targetingRows}</tbody>\n    </table>` : ''}\n\n    ${opIntel ? `<h3>Operational Intelligence</h3>\n    <blockquote>${esc(opIntel.substring(0, 600))}${opIntel.length > 600 ? '...' : ''}</blockquote>` : ''}\n\n    ${recRows ? `<h3>Defensive Recommendations</h3>\n    <table>\n      <thead><tr><th class=\"center\">Priority</th><th>Action</th><th class=\"center\">Addresses</th><th class=\"center\">Effort</th></tr></thead>\n      <tbody>${recRows}</tbody>\n    </table>` : ''}\n  </div>\n\n  <div class=\"section\">\n    <h2>Geographic &amp; Industry Distribution</h2>\n    <div class=\"chart-row\">\n      <div class=\"chart-box\"><h4>Victims by Country</h4><canvas id=\"chartGeo\"></canvas></div>\n      <div class=\"chart-box\"><h4>Victims by Industry</h4><canvas id=\"chartIndustry\"></canvas></div>\n    </div>\n    <div class=\"chart-row\">\n      <div>\n        ${coRows ? `<table>\n          <thead><tr><th class=\"center\">#</th><th>Country</th><th class=\"center\">Victims</th><th class=\"center\">%</th><th class=\"center\">Heat</th></tr></thead>\n          <tbody>${coRows}</tbody>\n        </table>` : ''}\n      </div>\n      <div>\n        ${indRows ? `<table>\n          <thead><tr><th>Industry</th><th class=\"center\">Victims</th><th class=\"center\">%</th><th class=\"center\">Risk</th></tr></thead>\n          <tbody>${indRows}</tbody>\n        </table>` : ''}\n      </div>\n    </div>\n  </div>\n\n  <div class=\"section\">\n    <h2>Attack Lifecycle &mdash; Composite View</h2>\n    <div class=\"lifecycle\">\n      <div class=\"lifecycle-step lc-1\"><div class=\"icon\">&#127760;</div><div class=\"step-title\">Initial Access</div><div class=\"step-detail\">CVE exploits<br>VPN/RDP<br>Phishing</div></div>\n      <div class=\"lifecycle-step lc-2\"><div class=\"icon\">&#9889;</div><div class=\"step-title\">Execution</div><div class=\"step-detail\">PowerShell LotL<br>Cobalt Strike<br>Scripts</div></div>\n      <div class=\"lifecycle-step lc-3\"><div class=\"icon\">&#128273;</div><div class=\"step-title\">Priv Esc</div><div class=\"step-detail\">Cred dump<br>LSASS<br>Token theft</div></div>\n      <div class=\"lifecycle-step lc-4\"><div class=\"icon\">&#128256;</div><div class=\"step-title\">Lateral Mvmt</div><div class=\"step-detail\">RDP pivot<br>PsExec<br>WMI</div></div>\n      <div class=\"lifecycle-step lc-5\"><div class=\"icon\">&#128228;</div><div class=\"step-title\">Exfiltration</div><div class=\"step-detail\">Rclone&rarr;Cloud<br>StealBit<br>Staging</div></div>\n      <div class=\"lifecycle-step lc-6\"><div class=\"icon\">&#128128;</div><div class=\"step-title\">Impact</div><div class=\"step-detail\">VSS delete<br>ESXi encrypt<br>Network drives</div></div>\n    </div>\n  </div>\n\n  ${groupCardsHtml ? `<div class=\"section\">\n    <h2>Threat Group Profiles</h2>\n    ${groups.length >= 2 ? `<div class=\"chart-row\">\n      <div class=\"chart-box\"><h4>Victims by Group</h4><canvas id=\"chartGroupVictims\"></canvas></div>\n      <div class=\"chart-box\"><h4>Group Threat Scores</h4><canvas id=\"chartGroupScores\"></canvas></div>\n    </div>` : ''}\n    ${groupCardsHtml}\n  </div>` : ''}\n\n  <div class=\"section\">\n    <h2>Risk Matrix</h2>\n    <div class=\"chart-row\">\n      <div>\n        <table>\n          <thead><tr><th>Risk Factor</th><th class=\"center\">Score</th><th class=\"center\">Weight</th><th class=\"center\">Weighted</th></tr></thead>\n          <tbody>${riskTableRows}</tbody>\n        </table>\n        <div class=\"risk-total\"><span class=\"badge badge-high\">Composite: ${tl} &mdash; ${rs} / 10</span></div>\n      </div>\n      <div class=\"chart-box\"><h4>Risk Radar</h4><canvas id=\"chartRisk\"></canvas></div>\n    </div>\n  </div>\n\n  <div class=\"section\">\n    <h2>Report Metadata</h2>\n    <table><tbody>\n      <tr><td><strong>Report ID</strong></td><td><code>${esc(reportId)}</code></td></tr>\n      <tr><td><strong>Generated</strong></td><td>${esc(now)}</td></tr>\n      <tr><td><strong>Data Source</strong></td><td>ransomware.live API v2</td></tr>\n      <tr><td><strong>AI Engine</strong></td><td>${aiProvider} (Structured TTP Extraction)</td></tr>\n      <tr><td><strong>Workflow</strong></td><td>n8n Automation \u2014 101 Level</td></tr>\n      <tr><td><strong>Classification</strong></td><td>CONFIDENTIAL &mdash; INTERNAL USE ONLY</td></tr>\n    </tbody></table>\n  </div>\n\n  ${groups.length > 0 ? `<div class=\"section\">\n    <h2>Appendix &mdash; Redacted Victim Ledger</h2>\n    ${groups.map(g => `<details>\n      <summary>Expand ${esc(g.name)} &mdash; ${g.victim_count} victims</summary>\n      <div>\n        <p style=\"font-size:0.82rem;color:var(--text-muted);margin-bottom:0.5rem;\">Victim identities are synthetic/redacted for privacy.</p>\n        <table><thead><tr><th>Industry</th><th class=\"center\">Count</th><th class=\"center\">% of Group</th></tr></thead>\n        <tbody>${g.top_industries.map(([ind, n]) => `<tr><td>${esc(ind)}</td><td class=\"center\">${n}</td><td class=\"center\">${((n/g.victim_count)*100).toFixed(1)}%</td></tr>`).join('')}</tbody>\n        </table>\n      </div>\n    </details>`).join('')}\n  </div>` : ''}\n\n  <div class=\"disclaimer\">&#9888;&#65039; All victim names are synthetic and redacted. &#128274; Handle in accordance with your organization's classification policies.</div>\n  <div class=\"footer\">Powered by ransomware.live API + ${aiProvider} + n8n &nbsp;|&nbsp; SANS Webinar Demo</div>\n\n</div>\n<script>\nconst P = { red:'#f85149', blue:'#58a6ff', orange:'#d29922', green:'#3fb950', purple:'#bc8cff', cyan:'#39d2c0', yellow:'#e3b341', pink:'#f97583' };\nconst C = [P.red, P.blue, P.green, P.orange, P.purple, P.cyan, P.yellow, P.pink];\nChart.defaults.color = '#8b949e';\nChart.defaults.borderColor = '#30363d';\nChart.defaults.font.family = '-apple-system,BlinkMacSystemFont,\"Segoe UI\",Helvetica,Arial,sans-serif';\nconst pieCfg = { responsive:true, plugins:{ legend:{ position:'bottom', labels:{ padding:12, usePointStyle:true, pointStyle:'circle', font:{size:11} } } } };\n\nnew Chart(document.getElementById('chartGeo'), { type:'doughnut', data:{ labels:${geoLabels}, datasets:[{ data:${geoData}, backgroundColor:C.slice(0,${topCo.length}), borderWidth:0, hoverOffset:6 }] }, options:pieCfg });\n\nnew Chart(document.getElementById('chartIndustry'), { type:'doughnut', data:{ labels:${indChartLabels}, datasets:[{ data:${indChartData}, backgroundColor:C.slice(0,${topInd.length}), borderWidth:0, hoverOffset:6 }] }, options:pieCfg });\n\n${ttpPolarLabels.length > 0 ? `new Chart(document.getElementById('chartTTPSeverity'), { type:'polarArea', data:{ labels:${JSON.stringify(ttpPolarLabels)}, datasets:[{ data:${JSON.stringify(ttpPolarData)}, backgroundColor:['#f8514988','#d2992288','#bc8cff88','#f9758388','#39d2c088','#58a6ff88'], borderWidth:0 }] }, options:{ responsive:true, scales:{ r:{beginAtZero:true,max:10,ticks:{stepSize:2,backdropColor:'transparent'},grid:{color:'#30363d'}} }, plugins:{ legend:{position:'bottom',labels:{usePointStyle:true,pointStyle:'circle',padding:10,font:{size:9}}} } } });` : ''}\n\n${groups.length >= 2 ? `new Chart(document.getElementById('chartGroupVictims'), { type:'bar', data:{ labels:${groupNames}, datasets:[{ label:'Victims', data:${groupVictims}, backgroundColor:C.slice(0,${groups.length}), borderRadius:6, barPercentage:0.6 }] }, options:{ responsive:true, indexAxis:'y', scales:{ x:{beginAtZero:true,grid:{color:'#21262d'}}, y:{grid:{display:false}} }, plugins:{ legend:{display:false} } } });\n\nnew Chart(document.getElementById('chartGroupScores'), { type:'bar', data:{ labels:${groupNames}, datasets:[{ label:'Threat Score', data:${groupScores}, backgroundColor:C.slice(0,${groups.length}), borderRadius:6, barPercentage:0.5 }] }, options:{ responsive:true, indexAxis:'y', scales:{ x:{min:0,max:10,grid:{color:'#21262d'},title:{display:true,text:'Score / 10'}}, y:{grid:{display:false}} }, plugins:{ legend:{display:false} } } });` : ''}\n\n${groupChartInits}\n\nnew Chart(document.getElementById('chartRisk'), { type:'radar', data:{ labels:['Attack Freq','Industry Crit','Geo Spread','Sophistication','Time-to-Encrypt','Dbl Extortion'], datasets:[{ label:'Risk Score', data:${riskRadarData}, backgroundColor:'rgba(210,153,34,0.15)', borderColor:P.orange, borderWidth:2, pointBackgroundColor:P.orange, pointRadius:5 }] }, options:{ responsive:true, scales:{ r:{beginAtZero:true,max:10,ticks:{stepSize:2,backdropColor:'transparent'},grid:{color:'#30363d'},pointLabels:{font:{size:10}}} }, plugins:{ legend:{display:false} } } });\n<\\/script>\n</body>\n</html>`;\n\nconst binaryData = Buffer.from(html, 'utf-8');\nconst fileName = `Ransomware_Threat_Brief_${now}.html`;\n\nreturn [{\n  json: { fileName, fileSize: binaryData.length, generated_at: now },\n  binary: {\n    data: { data: binaryData.toString('base64'), mimeType: 'text/html', fileName }\n  }\n}];\n"
      },
      "id": "a2f8c3d1-html-output-node-001",
      "name": "Output HTML File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        -16
      ]
    },
    {
      "id": "c2205627-1e19-430b-aeec-86429e7c216e",
      "name": "Sticky Note - LLM Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -300
      ],
      "parameters": {
        "content": "## \ud83e\udd99 Ollama (Local LLM) Version\n\n**Default model:** `llama3.1` (supports JSON schema)\n\n**To switch to Claude:** Replace the `Ollama Model` node with an `Anthropic Chat Model` node.\n\n**Other compatible Ollama models:**\n- `llama3.1` \u2705 (recommended)\n- `mistral` \u2705\n- `gemma2` \u2705\n- `qwen2.5` \u2705\n\n**Requirements:**\n- Ollama running at `http://localhost:11434`\n- Or set `OLLAMA_BASE_URL` env variable\n- Ollama model pulled: `ollama pull llama3.1`\n\n**Note:** Local models may produce less consistent structured output than Claude. If JSON parsing fails, try llama3.1:70b for better accuracy.",
        "height": 400,
        "width": 380,
        "color": 4
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filter by Industry": {
      "main": [
        [
          {
            "node": "Extract Unique Groups1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Consolidated Brief": {
      "main": [
        [
          {
            "node": "Threat Intelligence AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 6 Hours1": {
      "main": [
        [
          {
            "node": "Fetch Recent Victims1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Victims1": {
      "main": [
        [
          {
            "node": "Generate Diverse Fake Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Unique Groups1": {
      "main": [
        [
          {
            "node": "Groups Found?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groups Found?1": {
      "main": [
        [
          {
            "node": "Get Group Profile1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Activity Detected1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Group Profile1": {
      "main": [
        [
          {
            "node": "Build Consolidated Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Markdown File": {
      "main": [
        []
      ]
    },
    "Generate Diverse Fake Companies": {
      "main": [
        [
          {
            "node": "Filter by Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured TTP Output": {
      "ai_outputParser": [
        [
          {
            "node": "Threat Intelligence AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Threat Intelligence AI Agent": {
      "main": [
        [
          {
            "node": "Enhance Brief with AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Brief with AI Analysis": {
      "main": [
        [
          {
            "node": "Slack Alert1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Doc Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output Markdown File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output HTML File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Threat Intelligence AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12e3905c-774f-4f1f-9067-aa22078ee0d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[REDACTED_INSTANCE_ID]"
  },
  "id": "ePA6gBJ3Ci95iwXp",
  "tags": [
    {
      "updatedAt": "2026-02-28T01:45:57.430Z",
      "createdAt": "2026-02-28T01:45:57.430Z",
      "id": "PNNJmmJMXgCJtTD6",
      "name": "Ransomware-Intel"
    },
    {
      "updatedAt": "2026-02-28T01:45:57.347Z",
      "createdAt": "2026-02-28T01:45:57.347Z",
      "id": "hSPGEon4dskhR9Xg",
      "name": "SANS-Webinar"
    },
    {
      "updatedAt": "2026-02-28T01:45:57.394Z",
      "createdAt": "2026-02-28T01:45:57.394Z",
      "id": "qkt3wYGbfEGNfQ0J",
      "name": "101-Beginner"
    }
  ]
}