n8n_workflows/300_full_ir_pipeline.json
{
  "name": "300 — Full Incident Response Intelligence Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ir-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "incident-webhook",
      "name": "Webhook: Incident Artifacts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 500],
      "webhookId": "ir-pipeline-300"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PARSE & VALIDATE INCIDENT ARTIFACTS\n// ============================================================\n// Normalize the incoming webhook payload into the AlertPayload\n// format expected by the agent's /api/v1/enrich endpoint.\n// Handles both the demo scenario.json format and the generic\n// SIEM alert format.\n// ============================================================\n\nconst raw = $input.first().json.body || $input.first().json;\n\n// Detect format: full scenario vs. generic alert\nconst isScenarioFormat = !!raw.artifacts;\nlet payload = {};\n\nif (isScenarioFormat) {\n  // Full scenario format (like demo/scenario.json)\n  const a = raw.artifacts;\n  const v = raw.victim || {};\n  \n  // Extract hashes\n  const hashes = [];\n  if (a.hashes) {\n    for (const [key, val] of Object.entries(a.hashes)) {\n      const hashVal = String(val);\n      // Strip prefix like \"sha256:\"\n      const clean = hashVal.includes(':') ? hashVal.split(':')[1] : hashVal;\n      hashes.push(clean);\n    }\n  }\n  \n  // Extract IPs and domains\n  const ips = [];\n  const domains = [];\n  if (a.network_iocs) {\n    for (const ioc of a.network_iocs) {\n      if (ioc.type === 'ip') ips.push(ioc.value);\n      else if (ioc.type === 'domain') domains.push(ioc.value);\n    }\n  }\n  \n  // Extract observed TTPs from persistence, lateral movement, and LOLBAS\n  const observedTtps = [];\n  if (a.persistence) {\n    for (const p of a.persistence) {\n      observedTtps.push(`${p.type}: ${p.name || p.command || ''}`);\n    }\n  }\n  if (a.lateral_movement) {\n    for (const lm of a.lateral_movement) {\n      observedTtps.push(`${lm.method} lateral movement from ${lm.source} to ${lm.destination}`);\n    }\n  }\n  if (a.lolbas) {\n    observedTtps.push(...a.lolbas);\n  }\n  \n  payload = {\n    alert_id: raw.incident_id || `IR-${Date.now()}`,\n    source: 'n8n-ir-pipeline',\n    severity: 'critical',\n    description: `Ransomware incident at ${v.company || 'Unknown'}`,\n    hostname: '',\n    victim_company: v.company || '',\n    victim_sector: v.sector || '',\n    hashes: hashes,\n    ips: ips,\n    domains: domains,\n    ransom_note_text: a.ransom_note?.content || '',\n    file_extension: a.file_extension || '',\n    observed_ttps: observedTtps\n  };\n} else {\n  // Generic alert format (AlertPayload)\n  payload = {\n    alert_id: raw.alert_id || `IR-${Date.now()}`,\n    source: raw.source || 'n8n-ir-pipeline',\n    severity: raw.severity || 'high',\n    description: raw.description || '',\n    hostname: raw.hostname || '',\n    victim_company: raw.victim_company || '',\n    victim_sector: raw.victim_sector || '',\n    hashes: raw.hashes || [],\n    ips: raw.ips || [],\n    domains: raw.domains || [],\n    ransom_note_text: raw.ransom_note_text || '',\n    file_extension: raw.file_extension || '',\n    observed_ttps: raw.observed_ttps || []\n  };\n}\n\n// Validation\nconst hasData = payload.hashes.length > 0 || \n                payload.ips.length > 0 || \n                payload.ransom_note_text.length > 0 ||\n                payload.observed_ttps.length > 0;\n\nreturn [{\n  json: {\n    alert_payload: payload,\n    incident_id: payload.alert_id,\n    victim_company: payload.victim_company,\n    victim_sector: payload.victim_sector,\n    has_data: hasData,\n    artifact_summary: {\n      hashes: payload.hashes.length,\n      ips: payload.ips.length,\n      domains: payload.domains.length,\n      has_ransom_note: payload.ransom_note_text.length > 0,\n      observed_ttps: payload.observed_ttps.length,\n      file_extension: payload.file_extension\n    }\n  }\n}];"
      },
      "id": "parse-artifacts",
      "name": "Parse Incident Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json.has_data }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valid",
      "name": "Valid Artifacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/api/v1/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.alert_payload) }}",
        "options": {
          "timeout": 120000
        },
        "onError": "continueRegularOutput"
      },
      "id": "call-agent",
      "name": "Call Agent: Full Attribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FALLBACK: LOCAL ATTRIBUTION\n// ============================================================\n// If the agent endpoint is unavailable, perform basic\n// attribution using direct ransomware.live API calls.\n// This mirrors the graceful degradation philosophy.\n// ============================================================\n\nconst OBSERVATION_TO_MITRE = {\n  'rdp': ['T1021.001'], 'psexec': ['T1021.002', 'T1569.002'],\n  'wmi': ['T1047'], 'wmic': ['T1047'], 'schtasks': ['T1053.005'],\n  'scheduled task': ['T1053.005'], 'registry run key': ['T1547.001'],\n  'rclone': ['T1567.002'], 'vssadmin': ['T1490'],\n  'bcdedit': ['T1490'], 'cobalt strike': ['T1059.001', 'T1071.001'],\n  'powershell': ['T1059.001'], 'certutil': ['T1140', 'T1105'],\n  'ransomware': ['T1486'], 'encryption': ['T1486'],\n  'data exfiltration': ['T1041', 'T1567']\n};\n\nconst payload = $('Parse Incident Artifacts').first().json.alert_payload;\nconst callResult = $input.first().json;\n\n// Check if agent call succeeded\nconst agentSuccess = callResult.primary_group && \n                     callResult.primary_group !== '' &&\n                     !callResult.error;\n\nif (agentSuccess) {\n  // Agent returned valid results\n  return [{\n    json: {\n      source: 'agent',\n      incident_id: callResult.incident_id || payload.alert_id,\n      primary_group: callResult.primary_group,\n      confidence_pct: callResult.confidence_pct || 0,\n      confidence_label: callResult.confidence_label || 'Unknown',\n      brief: callResult.brief || '',\n      ioc_matches: callResult.ioc_matches || [],\n      mitre_techniques: callResult.mitre_techniques || [],\n      errors: callResult.errors || [],\n      victim_company: payload.victim_company,\n      victim_sector: payload.victim_sector,\n      alert_payload: payload\n    }\n  }];\n}\n\n// Fallback: basic MITRE mapping from observed TTPs\nconst mitreIds = new Set();\nfor (const obs of (payload.observed_ttps || [])) {\n  const lower = obs.toLowerCase();\n  for (const [keyword, techniques] of Object.entries(OBSERVATION_TO_MITRE)) {\n    if (lower.includes(keyword)) {\n      techniques.forEach(t => mitreIds.add(t));\n    }\n  }\n}\n\nreturn [{\n  json: {\n    source: 'fallback',\n    incident_id: payload.alert_id,\n    primary_group: 'Unknown (agent unavailable)',\n    confidence_pct: 0,\n    confidence_label: 'Insufficient',\n    brief: 'Agent endpoint unavailable. Performing basic analysis with direct API calls.',\n    ioc_matches: [],\n    mitre_techniques: Array.from(mitreIds).sort(),\n    errors: ['Agent endpoint unavailable or returned error. Using fallback analysis.'],\n    victim_company: payload.victim_company,\n    victim_sector: payload.victim_sector,\n    alert_payload: payload\n  }\n}];"
      },
      "id": "parse-attribution",
      "name": "Parse Attribution / Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.ransomware.live/v2/groups/{{ $json.primary_group }}",
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "fetch-group-profile",
      "name": "Fetch Group Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.ransomware.live/v2/yara/{{ $json.primary_group }}",
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "fetch-yara",
      "name": "Fetch YARA Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.ransomware.live/v2/sectorvictims/{{ $json.victim_sector }}",
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "fetch-sector-victims",
      "name": "Fetch Sector Victims",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 640]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.ransomware.live/v2/8k",
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "fetch-8k",
      "name": "Check SEC 8-K Filings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 840]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MERGE & BUILD EXECUTIVE SUMMARY\n// ============================================================\n// Combine attribution results with all parallel enrichment\n// data into a comprehensive executive summary.\n// ============================================================\n\nconst items = $input.all();\n\n// Collect data from all upstream nodes\nlet attribution = null;\nlet groupProfile = null;\nlet yaraRules = [];\nlet sectorVictims = [];\nlet secFilings = [];\n\n// Walk through all inputs and classify them\nfor (const item of items) {\n  const d = item.json;\n  \n  if (d.primary_group || d.incident_id) {\n    // Attribution data from Parse Attribution\n    if (d.confidence_pct !== undefined) attribution = d;\n  }\n  if (d.name && d.description && !d.primary_group) {\n    groupProfile = d;\n  }\n  if (d.yara || d.rule || (Array.isArray(d) && d[0]?.rule)) {\n    yaraRules = Array.isArray(d) ? d : [d];\n  }\n}\n\n// Use the attribution from the Parse Attribution node directly\nif (!attribution) {\n  try {\n    attribution = $('Parse Attribution / Fallback').first().json;\n  } catch(e) {\n    attribution = {\n      incident_id: 'UNKNOWN',\n      primary_group: 'Unknown',\n      confidence_pct: 0,\n      confidence_label: 'Insufficient',\n      brief: '',\n      mitre_techniques: [],\n      errors: ['Could not retrieve attribution data']\n    };\n  }\n}\n\n// Try to get group profile\nif (!groupProfile) {\n  try {\n    groupProfile = $('Fetch Group Profile').first().json;\n  } catch(e) {\n    groupProfile = { name: attribution.primary_group, description: 'Profile unavailable' };\n  }\n}\n\n// Try to get YARA\ntry {\n  const yaraData = $('Fetch YARA Rules').first().json;\n  yaraRules = Array.isArray(yaraData) ? yaraData : [yaraData];\n} catch(e) { /* no YARA available */ }\n\n// Try to get sector victims\ntry {\n  const sv = $('Fetch Sector Victims').first().json;\n  sectorVictims = Array.isArray(sv) ? sv.slice(0, 10) : [];\n} catch(e) { /* no sector data */ }\n\n// Try to get SEC filings\ntry {\n  const sf = $('Check SEC 8-K Filings').first().json;\n  secFilings = Array.isArray(sf) ? sf.slice(0, 5) : [];\n} catch(e) { /* no filings data */ }\n\nconst now = new Date().toISOString();\nconst group = attribution.primary_group || 'Unknown';\nconst confidence = attribution.confidence_pct || 0;\nconst label = attribution.confidence_label || 'Insufficient';\n\n// Count sector victims from the attributed group\nconst groupSectorVictims = sectorVictims.filter(v => \n  (v.group_name || v.group || '').toLowerCase() === group.toLowerCase()\n);\n\nreturn [{\n  json: {\n    incident_id: attribution.incident_id,\n    primary_group: group,\n    confidence_pct: confidence,\n    confidence_label: label,\n    source: attribution.source || 'agent',\n    agent_brief: attribution.brief || '',\n    mitre_techniques: attribution.mitre_techniques || [],\n    ioc_matches: attribution.ioc_matches || [],\n    errors: attribution.errors || [],\n    group_profile: {\n      name: groupProfile.name || group,\n      description: (groupProfile.description || '').substring(0, 500),\n      locations: groupProfile.locations || 'Unknown',\n      first_seen: groupProfile.first_seen || 'Unknown'\n    },\n    yara_rules_count: yaraRules.filter(r => r && r.rule).length,\n    yara_rules: yaraRules,\n    sector_context: {\n      sector: attribution.victim_sector || 'Unknown',\n      total_sector_victims: sectorVictims.length,\n      group_sector_victims: groupSectorVictims.length\n    },\n    sec_filings_count: secFilings.length,\n    sec_filings: secFilings,\n    victim_company: attribution.victim_company || '',\n    victim_sector: attribution.victim_sector || '',\n    generated_at: now\n  }\n}];"
      },
      "id": "merge-and-summarize",
      "name": "Merge & Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 500]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GENERATE FULL IR BRIEF (Markdown)\n// ============================================================\n// Render a comprehensive Incident Response brief matching\n// the structure of templates/ir_brief.md.j2 from the agent.\n// ============================================================\n\nconst d = $input.first().json;\nconst now = d.generated_at;\n\nlet md = '';\n\n// Header\nmd += `# Incident Response Intelligence Brief\\n\\n`;\nmd += `| Field | Value |\\n|-------|-------|\\n`;\nmd += `| **Incident ID** | ${d.incident_id} |\\n`;\nmd += `| **Primary Attribution** | ${d.primary_group} |\\n`;\nmd += `| **Confidence** | ${d.confidence_pct}% (${d.confidence_label}) |\\n`;\nmd += `| **Victim** | ${d.victim_company} |\\n`;\nmd += `| **Sector** | ${d.victim_sector} |\\n`;\nmd += `| **Generated** | ${now} |\\n`;\nmd += `| **Source** | ${d.source === 'agent' ? 'AI Agent Attribution' : 'Fallback Analysis'} |\\n\\n`;\n\n// Executive Summary\nmd += `---\\n\\n## Executive Summary\\n\\n`;\nif (d.agent_brief) {\n  md += `${d.agent_brief}\\n\\n`;\n} else {\n  md += `An incident at **${d.victim_company}** (${d.victim_sector} sector) has been `;\n  md += `attributed to **${d.primary_group}** with **${d.confidence_label}** confidence `;\n  md += `(${d.confidence_pct}%).\\n\\n`;\n}\n\n// Threat Actor Profile\nmd += `---\\n\\n## Threat Actor: ${d.group_profile.name}\\n\\n`;\nif (d.group_profile.description) {\n  md += `${d.group_profile.description}\\n\\n`;\n}\nmd += `- **Suspected Location:** ${d.group_profile.locations}\\n`;\nmd += `- **Active Since:** ${d.group_profile.first_seen}\\n\\n`;\n\n// MITRE ATT&CK\nif (d.mitre_techniques && d.mitre_techniques.length > 0) {\n  md += `---\\n\\n## MITRE ATT&CK Techniques\\n\\n`;\n  md += `| Technique ID | Link |\\n|-------------|------|\\n`;\n  for (const t of d.mitre_techniques) {\n    const id = typeof t === 'string' ? t : t.technique_id;\n    md += `| ${id} | [View](https://attack.mitre.org/techniques/${id.replace('.', '/')}) |\\n`;\n  }\n  md += `\\n`;\n}\n\n// IOC Matches\nif (d.ioc_matches && d.ioc_matches.length > 0) {\n  md += `---\\n\\n## IOC Matches\\n\\n`;\n  md += `${d.ioc_matches.length} indicators matched against known ransomware infrastructure.\\n\\n`;\n}\n\n// YARA Rules\nif (d.yara_rules_count > 0) {\n  md += `---\\n\\n## YARA Rules\\n\\n`;\n  md += `**${d.yara_rules_count} detection rules** available for ${d.primary_group}.\\n`;\n  md += `Deploy these across all endpoints for a detection sweep.\\n\\n`;\n}\n\n// Sector Context\nmd += `---\\n\\n## Sector Threat Context\\n\\n`;\nmd += `- **Sector:** ${d.sector_context.sector}\\n`;\nmd += `- **Total Recent Sector Victims:** ${d.sector_context.total_sector_victims}\\n`;\nmd += `- **Victims by ${d.primary_group}:** ${d.sector_context.group_sector_victims}\\n\\n`;\n\n// SEC Filings\nif (d.sec_filings_count > 0) {\n  md += `---\\n\\n## SEC 8-K Cybersecurity Disclosures\\n\\n`;\n  md += `${d.sec_filings_count} relevant SEC filings found.\\n\\n`;\n}\n\n// Recommended Actions\nmd += `---\\n\\n## Recommended Immediate Actions\\n\\n`;\nmd += `1. **Isolate affected systems** — Disconnect compromised hosts from the network\\n`;\nmd += `2. **Preserve evidence** — Image affected systems before remediation\\n`;\nmd += `3. **Reset credentials** — All domain admin and service accounts\\n`;\nmd += `4. **Deploy YARA rules** — Sweep all endpoints for ${d.primary_group} indicators\\n`;\nmd += `5. **Block IOCs** — Add all matched IPs, domains, and hashes to blocklists\\n`;\nmd += `6. **Engage legal counsel** — Assess notification obligations\\n`;\nmd += `7. **Contact insurance** — Initiate cyber insurance claim process\\n`;\nmd += `8. **Monitor for re-entry** — ${d.primary_group} is known to maintain persistence\\n\\n`;\n\n// Errors/Warnings\nif (d.errors && d.errors.length > 0) {\n  md += `---\\n\\n## Processing Notes\\n\\n`;\n  for (const err of d.errors) {\n    md += `- ${err}\\n`;\n  }\n  md += `\\n`;\n}\n\nmd += `---\\n\\n_Generated by n8n IR Pipeline + AI-Powered Ransomware Intelligence Agent_\\n`;\nmd += `_SANS Webinar Demo — Stay Ahead of Ransomware_`;\n\nreturn [{\n  json: {\n    ...d,\n    ir_brief_markdown: md\n  }\n}];"
      },
      "id": "generate-brief",
      "name": "Generate IR Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence_pct }}",
                    "rightValue": 80,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH (>=80%)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence_pct }}",
                    "rightValue": 60,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM (60-79%)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.confidence_pct }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOW (<60%)"
            }
          ]
        },
        "options": {}
      },
      "id": "confidence-router",
      "name": "Route by Confidence",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2320, 500]
    },
    {
      "parameters": {
        "jsCode": "// HIGH CONFIDENCE PATH — Immediate Escalation\nconst d = $input.first().json;\n\nreturn [{\n  json: {\n    ...d,\n    escalation_level: 'CRITICAL',\n    escalation_action: 'immediate',\n    sla_hours: 1,\n    notifications: ['slack_critical', 'email_ir_team', 'siem_webhook'],\n    slack_message: `:rotating_light: *CRITICAL: Ransomware Incident — ${d.confidence_label} Confidence*\\n\\n` +\n      `*Incident:* ${d.incident_id}\\n` +\n      `*Victim:* ${d.victim_company} (${d.victim_sector})\\n` +\n      `*Attribution:* *${d.primary_group}* at *${d.confidence_pct}%* confidence\\n\\n` +\n      `*Immediate Actions Required:*\\n` +\n      `1. Isolate affected systems\\n` +\n      `2. Preserve forensic evidence\\n` +\n      `3. Reset domain admin credentials\\n` +\n      `4. Deploy YARA rules (${d.yara_rules_count} available)\\n\\n` +\n      `Full IR brief has been emailed to the incident response team.\\n` +\n      `MITRE Techniques: ${(d.mitre_techniques || []).slice(0, 5).join(', ')}\\n\\n` +\n      `@here — Please acknowledge in thread.`\n  }\n}];"
      },
      "id": "high-escalation",
      "name": "HIGH: Immediate Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 280]
    },
    {
      "parameters": {
        "jsCode": "// MEDIUM CONFIDENCE PATH — Queue for SOC Review\nconst d = $input.first().json;\n\nreturn [{\n  json: {\n    ...d,\n    escalation_level: 'HIGH',\n    escalation_action: 'queue_review',\n    sla_hours: 4,\n    notifications: ['slack_soc', 'siem_webhook'],\n    slack_message: `:warning: *Ransomware Intelligence: Medium Confidence Attribution*\\n\\n` +\n      `*Incident:* ${d.incident_id}\\n` +\n      `*Victim:* ${d.victim_company} (${d.victim_sector})\\n` +\n      `*Attribution:* ${d.primary_group} at ${d.confidence_pct}% confidence\\n\\n` +\n      `Additional analyst review recommended. Full brief available.\\n` +\n      `SLA: 4 hours`\n  }\n}];"
      },
      "id": "medium-queue",
      "name": "MEDIUM: Queue for Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 520]
    },
    {
      "parameters": {
        "jsCode": "// LOW CONFIDENCE PATH — Log Only\nconst d = $input.first().json;\n\nreturn [{\n  json: {\n    ...d,\n    escalation_level: 'MEDIUM',\n    escalation_action: 'log',\n    sla_hours: 24,\n    notifications: ['siem_webhook'],\n    slack_message: `:information_source: *Low Confidence Attribution Logged*\\n\\n` +\n      `*Incident:* ${d.incident_id} — ${d.primary_group} at ${d.confidence_pct}%\\n` +\n      `Logged for tracking. No immediate action required.`\n  }\n}];"
      },
      "id": "low-log",
      "name": "LOW: Log Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 740]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#incident-response",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "slack-critical",
      "name": "Slack: Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2860, 180],
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "threatintel@example.com",
        "toEmail": "incident-response@example.com",
        "subject": "=[CRITICAL] IR Brief: {{ $json.incident_id }} — {{ $json.primary_group }} ({{ $json.confidence_pct }}%)",
        "emailType": "text",
        "message": "={{ $json.ir_brief_markdown }}"
      },
      "id": "email-ir-team",
      "name": "Email: IR Team Brief",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2860, 340],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-siem.example.com/api/webhook/ransomware-intel",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ incident_id: $json.incident_id, primary_group: $json.primary_group, confidence_pct: $json.confidence_pct, confidence_label: $json.confidence_label, escalation_level: $json.escalation_level, mitre_techniques: $json.mitre_techniques, ioc_matches: $json.ioc_matches, yara_rules_count: $json.yara_rules_count, generated_at: $json.generated_at }) }}",
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "siem-webhook",
      "name": "Post to SIEM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 500],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#soc-queue",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "slack-soc",
      "name": "Slack: SOC Queue",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2860, 620],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Build final response combining escalation + full data\nconst d = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'complete',\n    incident_id: d.incident_id,\n    primary_group: d.primary_group,\n    confidence_pct: d.confidence_pct,\n    confidence_label: d.confidence_label,\n    escalation_level: d.escalation_level,\n    escalation_action: d.escalation_action,\n    sla_hours: d.sla_hours,\n    notifications_sent: d.notifications,\n    summary: {\n      mitre_techniques_count: (d.mitre_techniques || []).length,\n      ioc_matches_count: (d.ioc_matches || []).length,\n      yara_rules_count: d.yara_rules_count || 0,\n      sec_filings_count: d.sec_filings_count || 0\n    },\n    group_profile: d.group_profile,\n    mitre_techniques: d.mitre_techniques,\n    ir_brief_markdown: d.ir_brief_markdown,\n    generated_at: d.generated_at\n  }\n}];"
      },
      "id": "build-response-high",
      "name": "Build Response (High)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3140, 280]
    },
    {
      "parameters": {
        "jsCode": "// Build final response for medium path\nconst d = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'complete',\n    incident_id: d.incident_id,\n    primary_group: d.primary_group,\n    confidence_pct: d.confidence_pct,\n    confidence_label: d.confidence_label,\n    escalation_level: d.escalation_level,\n    escalation_action: d.escalation_action,\n    sla_hours: d.sla_hours,\n    notifications_sent: d.notifications,\n    summary: {\n      mitre_techniques_count: (d.mitre_techniques || []).length,\n      ioc_matches_count: (d.ioc_matches || []).length,\n      yara_rules_count: d.yara_rules_count || 0,\n      sec_filings_count: d.sec_filings_count || 0\n    },\n    group_profile: d.group_profile,\n    mitre_techniques: d.mitre_techniques,\n    ir_brief_markdown: d.ir_brief_markdown,\n    generated_at: d.generated_at\n  }\n}];"
      },
      "id": "build-response-medium",
      "name": "Build Response (Medium)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3140, 520]
    },
    {
      "parameters": {
        "jsCode": "// Build final response for low path\nconst d = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'complete',\n    incident_id: d.incident_id,\n    primary_group: d.primary_group,\n    confidence_pct: d.confidence_pct,\n    confidence_label: d.confidence_label,\n    escalation_level: d.escalation_level,\n    escalation_action: d.escalation_action,\n    sla_hours: d.sla_hours,\n    notifications_sent: d.notifications,\n    summary: {\n      mitre_techniques_count: (d.mitre_techniques || []).length,\n      ioc_matches_count: (d.ioc_matches || []).length,\n      yara_rules_count: d.yara_rules_count || 0,\n      sec_filings_count: d.sec_filings_count || 0\n    },\n    group_profile: d.group_profile,\n    mitre_techniques: d.mitre_techniques,\n    ir_brief_markdown: d.ir_brief_markdown,\n    generated_at: d.generated_at\n  }\n}];"
      },
      "id": "build-response-low",
      "name": "Build Response (Low)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3140, 740]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-high",
      "name": "Respond (High)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3400, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-medium",
      "name": "Respond (Medium)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3400, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-low",
      "name": "Respond (Low)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3400, 740]
    },
    {
      "parameters": {
        "jsCode": "// No valid artifacts — return error\nreturn [{\n  json: {\n    status: 'error',\n    error: 'Insufficient incident artifacts provided.',\n    message: 'Please submit at least one of: hashes, IPs, ransom note text, or observed TTPs.',\n    expected_format: {\n      scenario_format: 'See demo/scenario.json for full incident format',\n      alert_format: {\n        alert_id: 'string',\n        victim_company: 'string',\n        victim_sector: 'string',\n        hashes: ['sha256_hash_1', 'sha256_hash_2'],\n        ips: ['1.2.3.4'],\n        domains: ['evil.example.com'],\n        ransom_note_text: 'YOUR FILES HAVE BEEN ENCRYPTED...',\n        file_extension: '.locked',\n        observed_ttps: ['RDP lateral movement', 'vssadmin shadow copy deletion']\n      }\n    }\n  }\n}];"
      },
      "id": "invalid-input",
      "name": "Invalid Input Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 660]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 660]
    },
    {
      "parameters": {
        "content": "## 🎓 300 — Full Incident Response Intelligence Pipeline\n\n**SANS Webinar: AI-Powered Ransomware Intelligence**\n\nThis advanced workflow demonstrates the **complete IR intelligence pipeline**:\n1. **Artifact ingestion** — Parse full incident data (ransom notes, IOCs, TTPs)\n2. **AI Agent attribution** — Call the ransomware intelligence agent for confidence-scored attribution\n3. **Parallel enrichment** — Group profile, YARA rules, sector context, SEC filings\n4. **Executive brief generation** — Full Markdown IR report\n5. **Confidence-based escalation** — Route HIGH/MEDIUM/LOW to different channels\n6. **Multi-channel notification** — Slack, email, SIEM webhook\n\n**Prerequisites:**\n- Agent running: `uvicorn integrations.siem_soar.webhook:app --port 8080`\n- Or use the fallback mode (direct API calls)\n\n**Test with demo scenario:**\n```\ncurl -X POST http://localhost:5678/webhook/ir-pipeline \\\n  -H 'Content-Type: application/json' \\\n  -d @demo/scenario.json\n```",
        "height": 540,
        "width": 380,
        "color": 4
      },
      "id": "sticky-intro",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-100, 180]
    },
    {
      "parameters": {
        "content": "### 🤖 AI Agent Integration\n\nThis node calls the **AI-Powered Ransomware Intelligence Agent** running at `localhost:8080`.\n\nThe agent performs:\n- Ransom note embedding matching (Ollama + ChromaDB)\n- IOC database correlation\n- MITRE ATT&CK TTP mapping\n- 4-signal weighted confidence scoring\n\nIf the agent is unavailable, the workflow **gracefully degrades** to basic MITRE mapping using the built-in observation-to-technique dictionary.\n\n**Agent endpoint:** `POST /api/v1/enrich`",
        "height": 340,
        "width": 320,
        "color": 6
      },
      "id": "sticky-agent",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [880, 820]
    },
    {
      "parameters": {
        "content": "### 🔄 Parallel Enrichment\n\nFour API calls fire simultaneously:\n1. **Group Profile** (FREE) — Description, locations, history\n2. **YARA Rules** (FREE) — Detection rules for endpoint sweep\n3. **Sector Victims** (FREE) — Threat context for the victim's industry\n4. **SEC 8-K Filings** (PRO) — Public incident disclosures\n\nAll nodes use `onError: continueRegularOutput` for graceful degradation — if the PRO API isn't available, the workflow continues with available data.",
        "height": 290,
        "width": 340,
        "color": 3
      },
      "id": "sticky-parallel",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1380, 960]
    },
    {
      "parameters": {
        "content": "### 📊 Confidence-Based Escalation\n\nThe **Switch** node routes based on the agent's confidence scoring model:\n\n| Confidence | Route | Action | SLA |\n|-----------|-------|--------|-----|\n| >= 80% (High) | CRITICAL | Slack @here + Email IR team + SIEM | 1 hour |\n| 60-79% (Medium) | HIGH | Slack SOC queue + SIEM | 4 hours |\n| < 60% (Low) | MEDIUM | SIEM log only | 24 hours |\n\nThese thresholds match the scoring model in `mcp_server/scoring/confidence.py`.\n\n**Scoring Weights:**\n- Ransom Note Match: 35%\n- IOC Overlap: 30%\n- TTP Alignment: 20%\n- File Extension: 15%",
        "height": 330,
        "width": 380,
        "color": 7
      },
      "id": "sticky-confidence",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2200, 860]
    },
    {
      "parameters": {
        "content": "### 📨 Multi-Channel Notifications\n\nEach confidence level triggers appropriate channels:\n\n**HIGH:** Slack `#incident-response` with `@here` + full email to IR team + SIEM structured JSON\n**MEDIUM:** Slack `#soc-queue` for analyst review + SIEM\n**LOW:** SIEM log entry only (reduces alert fatigue)\n\n**To activate:** Enable the disabled Slack/Email nodes and configure credentials in n8n Settings.\n\n**Tip:** Replace Slack with Microsoft Teams, PagerDuty, or any other notification service.",
        "height": 280,
        "width": 320,
        "color": 2
      },
      "id": "sticky-notify",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2780, 860]
    },
    {
      "parameters": {
        "content": "### 📝 IR Brief Generation\n\nThe Code node renders a full **Incident Response Intelligence Brief** in Markdown format, matching the Jinja2 template structure from `templates/ir_brief.md.j2`.\n\nSections include:\n- Executive Summary\n- Threat Actor Profile\n- MITRE ATT&CK Techniques\n- IOC Matches\n- YARA Rules\n- Sector Threat Context\n- SEC 8-K Disclosures\n- Recommended Immediate Actions\n\nThis brief is emailed to the IR team and returned via webhook.",
        "height": 320,
        "width": 300,
        "color": 5
      },
      "id": "sticky-brief",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1940, 780]
    }
  ],
  "connections": {
    "Webhook: Incident Artifacts": {
      "main": [
        [
          {
            "node": "Parse Incident Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incident Artifacts": {
      "main": [
        [
          {
            "node": "Valid Artifacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Artifacts?": {
      "main": [
        [
          {
            "node": "Call Agent: Full Attribution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Input Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agent: Full Attribution": {
      "main": [
        [
          {
            "node": "Parse Attribution / Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Attribution / Fallback": {
      "main": [
        [
          {
            "node": "Fetch Group Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch YARA Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Sector Victims",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check SEC 8-K Filings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Group Profile": {
      "main": [
        [
          {
            "node": "Merge & Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YARA Rules": {
      "main": [
        [
          {
            "node": "Merge & Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sector Victims": {
      "main": [
        [
          {
            "node": "Merge & Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SEC 8-K Filings": {
      "main": [
        [
          {
            "node": "Merge & Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Build Summary": {
      "main": [
        [
          {
            "node": "Generate IR Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate IR Brief": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "HIGH: Immediate Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MEDIUM: Queue for Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOW: Log Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HIGH: Immediate Escalation": {
      "main": [
        [
          {
            "node": "Slack: Critical Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email: IR Team Brief",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Response (High)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEDIUM: Queue for Review": {
      "main": [
        [
          {
            "node": "Slack: SOC Queue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to SIEM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Response (Medium)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOW: Log Only": {
      "main": [
        [
          {
            "node": "Post to SIEM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Response (Low)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response (High)": {
      "main": [
        [
          {
            "node": "Respond (High)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response (Medium)": {
      "main": [
        [
          {
            "node": "Respond (Medium)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response (Low)": {
      "main": [
        [
          {
            "node": "Respond (Low)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Input Response": {
      "main": [
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SANS-Webinar",
      "id": "sans-webinar"
    },
    {
      "name": "300-Advanced",
      "id": "300-advanced"
    },
    {
      "name": "Ransomware-Intel",
      "id": "ransomware-intel"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-28T00:00:00.000Z",
  "versionId": "300-v1",
  "meta": {
    "instanceId": "sans-webinar-demo",
    "templateCredsSetupCompleted": true
  }
}
